@import url('./fonts/gothampro_medium.ttf');

html {
	position: relative;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	min-width: 320px;
	min-height: 100vh;
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

img,
svg {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

button {
	padding: 0;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
p,
figure,
fieldset {
	margin: 0;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
}

.container-block {
	max-width: 1920px;
	margin: 0 auto;
}

.wrap {
	padding: 0 190px;
}

.wrap-catalog {
	padding: 0 119px 0 190px;
}

.wrap-content {
	padding-top: 25px;
}

.catalog {
	padding: 50px 0 100px 0;
	background-color: #F6F7FA;
	box-shadow: 0px 18px 52px -36px rgba(0, 0, 0, 0.50) inset;
}

.catalog-block {
	display: grid;
	display: -ms-grid;
	grid-template-columns: 310px 1fr;
	-ms-grid-columns: 310px 1fr;
	grid-template-areas: "list cards";
}

.catalog-list {
	grid-area: list;
}

.catalog-list__title {
	color: rgba(0, 0, 0, 0.80);
	font-family: Gotham Pro, sans-serif;
	font-size: 25px;
	line-height: 84.5%;
	margin-bottom: 29px;
}

.catalog-list__item {
	padding: 5px 12px 5px 13px;
	width: 271px;
	height: 44px;
	border-radius: 5px;
	background-color: #FEFEFE;
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15);
	color: rgba(0, 0, 0, 0.70);
	font-size: 17px;
	line-height: 100.5%;
}

.catalog-list__item_child-pad {
	padding: 13px 12px 14px 13px;
}

.catalog-list__item_child,
.catalog-list__item_child-pad {
	margin-bottom: 7px;
}

.catalog-list__item:hover {
	width: 289px;
	background: linear-gradient(354deg, #1B978A -63.14%, #20B3B0 59.44%);
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.50);
	color: #FFF;
}

.catalog-cards {
	display: grid;
	display: -ms-grid;
	grid-template-areas:
		'promo arrow .'
		'cards cards pag';
	grid-template-rows: 1fr 507px;
	-ms-grid-rows: 1fr 507px;
	grid-template-columns: 1fr 140px 48px;
	-ms-grid-columns: 1fr 140px 48px;
}

.catalog-cards__promo {
	grid-area: promo;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
}

.catalog-cards__promo-item {
	width: 258px;
	color: rgba(0, 0, 0, 0.80);
	font-family: Gotham Pro, sans-serif;
	font-size: 25px;
	line-height: 72%;
}

.catalog-cards__promo-item:hover {
	font-weight: 600;
}

.catalog-cards__promo-item_popular {
	margin-right: 50px;
}

.catalog-cards__promo-button {
	grid-area: arrow;
}

.catalog-cards__promo-btn {
	color: #D72853;
	border: none;
	background-color: #F6F7FA;
}

.catalog-cards__goods {
	grid-area: cards;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: center;
	-webkit-align-items: center;
	overflow: hidden;
	scroll-behavior: smooth;
	margin-right: 26px;
}

.catalog-cards__goods-pag {
	grid-area: pag;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	justify-content: center;
	-webkit-justify-content: center;
}

.catalog-cards__goods-pag-btn {
	padding: 14px 15px 17px 16px;
	min-width: 17px;
	min-height: 17px;
	border-radius: 5px;
	background: #FFF;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	border: none;
}

.catalog-cards__goods-pag-btn_left {
	background: url("./img/angle-left.svg") center no-repeat;
}

.catalog-cards__goods-pag-btn_right {
	background: url("./img/angle-right.svg") center no-repeat;
	margin-bottom: 17px;
}

.catalog-cards__card {
	position: relative;
	min-width: 271px;
	height: 506px;
	padding: 13px 13px 7px 18px;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.15);
}

.catalog-cards__card:hover {
	background: linear-gradient(196deg, #DCCBE0 1.42%, #DEE5F2 100%);
	box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.50);
}

.catalog-cards__card:not(:last-child) {
	margin-right: 45px;
}

.catalog-cards__card-label {
	position: absolute;
	top: 0;
	left: 0;
	width: 75px;
	height: 75.5px;
}

.catalog-cards__card-label-text {
	position: absolute;
	top: 15px;
	left: 8px;
	color: #FFF;
	text-align: center;
	font-family: Gotham Pro, sans-serif;
	font-size: 20px;
	line-height: 72%;
	transform: rotate(-43.819deg);
}

.catalog-cards__card-img {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: center;
	-webkit-justify-content: center;
	width: 100%;
	height: 245px;
	margin-bottom: 12px;
}

.catalog-cards__card-score {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
	margin-bottom: 10px;
}

.catalog-cards__card-rating-sym {
	display: inline-block;
	width: 21px;
	height: 21px;
	margin-right: 5px;
}

.catalog-cards__card-rating-sym_ys {
	background: url("./img/star-yellow.svg") no-repeat;
	background-size: contain;
}

.catalog-cards__card-rating-sym_gs {
	background: url("./img/star-gray.svg") no-repeat;
	background-size: contain;
}

.catalog-cards__card-comparison {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
}

.catalog-cards__card-scales {
	display: inline-block;
	min-width: 25px;
	min-height: 25px;
	background: url("./img/comp-gray.svg") no-repeat;
	margin-right: 12px;
}

.catalog-cards__card-scales:hover,
.scales-add {
	background: url("./img/comp-blue.svg") no-repeat;
	background-size: contain;
}

.catalog-cards__card-favourites {
	display: inline-block;
	min-width: 25px;
	min-height: 25px;
	background: url("./img/fav-gray-main.svg") no-repeat;
}

.catalog-cards__card-favourites:hover,
.favourites-add {
	background: url("./img/fav-red.svg") no-repeat;
}

.catalog-cards__card-line {
	border-top: 3px solid rgba(0, 0, 0, 0.10);
	margin-bottom: 15px;
}

.catalog-cards__card-title {
	color: rgba(0, 0, 0, 0.80);
	font-family: Gotham Pro, sans-serif;
	font-size: 15px;
	line-height: 84.5%;
	overflow-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin-bottom: 5px;
}

.catalog-cards__card-property {
	color: rgba(0, 0, 0, 0.30);
	font-size: 15px;
	margin-bottom: 14px;
}

.avaliable-true {
	color: #30FF0E;
}

.avaliable-false {
	color: #FF0E0E;
}

.property-dist {
	margin-bottom: 3px;
}

.catalog-cards__card-footer {
	padding-left: 16px;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
}

.catalog-cards__card-price {
	color: #000;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.50);
	font-size: 24px;
	font-weight: 700;
}

.catalog-cards__card-double-price {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
}

.catalog-cards__card-double-old-price {
	color: rgba(0, 0, 0, 0.20);
	text-shadow: none;
	font-size: 18px;
	text-decoration: line-through;
}

.catalog-cards__card-double-new-price {
	color: #F00;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.50);
}

.catalog-cards__card-link {
	padding: 15px 25px 15px 27px;
	border-radius: 10px;
	background: #8FD6D4;
	color: #FFF;
	font-family: Gotham Pro, sans-serif;
	font-size: 15px;
	line-height: 84.5%;
}

.catalog-cards__card-link:hover {
	background: linear-gradient(180deg, #1B9486 0%, #21B8B7 100%);
}

.advantages {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	padding-top: 92px;
	margin-bottom: 27px;
}

.advantages__card {
	position: relative;
}

.advantages__item {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	max-width: 359px;
	height: 248px;
}

.advantages__item-img-block {
	position: absolute;
	top: -40px;
	left: 35px;
	background-color: #732E85;
	min-width: 88px;
	min-height: 88px;
	border-radius: 50%;
}

.advantages__item-img {
	width: 48px;
	height: 48px;
	position: absolute;
	top: 20px;
	left: 20px;
}

.advantages__item-img_price {
	background: url("./img/price-dollar.svg") no-repeat;
}

.advantages__item-img_quality {
	background: url("./img/quality-adv.svg") no-repeat;
}

.advantages__item-img_delivery {
	background: url("./img/track-adv.svg") no-repeat;
}

.advantages__item-img_time-fast {
	background: url("./img/time-fast-adv.svg") no-repeat;
}

.advantages__item-desc {
	padding: 69px 46px 16px 18px;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.15);
}

.advantages__item-desc-name {
	color: rgba(0, 0, 0, 0.80);
	font-family: Gotham Pro, sans-serif;
	font-size: 28px;
	line-height: 84.5%;
	margin: 0 0 15px 0;
}

.advantages__item-desc-text {
	max-width: 268px;
	color: rgba(0, 0, 0, 0.70);
	font-size: 17px;
}

.news-home {
	padding: 27px 0 20px 0;
}

.news__caption {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: center;
	-webkit-justify-content: center;
	margin-bottom: 26px;
}

.block__caption-btn {
	min-width: 40px;
	min-height: 40px;
	position: relative;
	background: linear-gradient(180deg, #20B3B0 0%, #1EA9A3 100%);
	border: none;
	border-radius: 50%;
}

.block__caption-btn-img {
	min-width: 22px;
	min-height: 16px;
	position: absolute;
}

.arrow-up-btn {
	display: inline-block;
	background: url("./img/arrow-up.svg") no-repeat;
	bottom: 16px;
	right: 11px;
}

.news__caption-text {
	color: rgba(0, 0, 0, 0.80);
	text-align: center;
	font-family: Gotham Pro, sans-serif;
	font-size: 50px;
	line-height: 72%;
	margin-right: 13px;
}

.news__block {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	padding: 20px 35px 0 21px;
	border-radius: 10px;
	background: linear-gradient(266deg, rgba(115, 46, 133, 0.25) 0.17%, rgba(124, 153, 204, 0.25) 99.36%);
}

.news__block-part {
	width: 70%;
	margin-right: 26px;
}

.news__block-article {
	margin-bottom: 59px;
}

.news__block-article-caption {
	color: rgba(0, 0, 0, 0.70);
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 9px;
}

.news__block-article-text {
	color: rgba(0, 0, 0, 0.70);
	font-size: 17px;
	font-weight: 400;
}

.news__block-article-text_link {
	color: #618FAB;
	line-height: 171%;
	text-decoration-line: underline;
}

.news-block__caption-link-btn {
	display: inline-block;
	min-width: 25px;
	min-height: 25px;
	position: relative;
	background-color: #FFF;
	border: none;
	border-radius: 50%;
}

.news-block__caption-link-arrow {
	display: inline-block;
	width: 8px;
	height: 8px;
	position: absolute;
	left: 9px;
	top: 1px;
}

.news__block-link {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: center;
	-webkit-align-items: center;
	margin-bottom: 31px;
}

.news__block-link-text {
	display: inline-block;
	color: #1B988C;
	font-family: PT Sans, sans-serif;
	font-size: 25px;
	font-weight: 700;
	line-height: 95%;
	margin-right: 15px;
}

.news__block-img {
	width: 30%;
}

.about-home {
	padding: 40px 38px 0 23px;
	margin-bottom: 30px;
}

.about-block:not(:last-child) {
	margin-bottom: 30px;
}

.about-block__caption {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	color: rgba(0, 0, 0, 0.80);
	font-family: Gotham Pro, sans-serif;
	font-size: 41px;
	line-height: 95%;
}

.about-block__caption-f-block {
	margin-bottom: 23px;
}

.about-block__caption-s-block {
	margin-bottom: 17px;
}

.about-block__caption-th-block {
	margin-bottom: 11px;
}

.about-block__text {
	color: rgba(0, 0, 0, 0.70);
	font-family: Lato, sans-serif;
	font-size: 17px;
}

.about-block__caption-text {
	margin-right: 17px;
}

.about-block__text_link {
	color: #618FAB;
	line-height: 171%;
	text-decoration-line: underline;
}

li::marker {
	font-weight: bold;
}

.block--close {
	display: none;
}

.btn--rotate {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	top: 17px;
	left: 11px;
}

@media (max-width: 1920px) {
	.wrap {
		padding: 0 37px;
	}

	.wrap-catalog {
		padding: 0 37px;
	}

	.catalog {
		padding: 33px 0 37px 0;
	}

	.catalog-block {
		display: grid;
		display: -ms-grid;
		grid-template-columns: 265px 1fr;
		-ms-grid-columns: 265px 1fr;
		grid-template-areas:
			"list cards";
	}

	.catalog-list {
		margin-right: 20px;
	}

	.catalog-list__title {
		margin-bottom: 23px;
	}

	.catalog-list__item {
		padding: 5px 10px 4px 10px;
		width: 241px;
		height: 39px;
		font-size: 15px;
	}

	.catalog-list__item_child-pad {
		padding: 12px 25px 13px 10px;
	}

	.catalog-list__item_child,
	.catalog-list__item_child-pad {
		margin-bottom: 6px;
	}

	.catalog-list__item:hover {
		width: 256px;
	}

	.catalog-cards {
		grid-template-areas:
			'promo arrow arrow'
			'cards cards pag';
		grid-template-rows: 40px 453px;
		-ms-grid-rows: 40px 453px;
		grid-template-columns: 1fr 80px 43px;
		-ms-grid-columns: 1fr 80px 43px;
	}

	.catalog-cards__goods-pag-btn {
		padding: 53px 14px 54px 14px;
		min-width: 15px;
		min-height: 15px;
	}

	.catalog-cards__goods-pag-btn_left {
		margin-bottom: 43px;
	}

	.catalog-cards__promo-item {
		font-size: 22px;
	}

	.catalog-cards__goods {
		margin-right: 22px;
	}

	.catalog-cards__card {
		max-width: 243px;
		height: 450px;
	}

	.catalog-cards__card:not(:last-child) {
		margin-right: 30px;
	}

	.catalog-cards__card-img {
		width: 210px;
		height: 219px;
		margin: 0 auto 12px auto;
	}

	.catalog-cards__card-rating-sym {
		width: 19px;
		height: 18px;
	}

	.catalog-cards__card-line {
		border-top: 1px solid rgba(0, 0, 0, 0.10);
		margin-bottom: 8px;
	}

	.catalog-cards__card-title {
		font-size: 14px;
		margin-bottom: 3px;
	}

	.catalog-cards__card-property {
		font-size: 13px;
		margin-bottom: 10px;
	}

	.catalog-cards__card-link {
		padding: 13px 20px;
	}

	.catalog-cards__card-score {
		margin-bottom: 5px;
	}

	.news__block-part {
		width: 80%;
		margin-right: 35px;
	}

	.news__block-article {
		margin-bottom: 18px;
	}

	.news__block-img {
		width: 20%;
	}
}

@media (max-width:1670px) {
	.news-home {
		padding: 22px 0 24px 0;
	}

	.news__caption {
		margin-bottom: 18px;
	}

	.news__caption-text {
		font-size: 40px;
		margin-right: 16px;
	}

	.news__caption-btn {
		min-width: 34px;
		min-height: 34px;
	}

	.news__block {
		padding: 18px 20px 0 19px;
	}

	.news__block-part {
		margin-right: 10px;
	}

	.news__block-article-caption {
		margin-bottom: 4px;
	}

	.news__block-article-text {
		font-size: 15px;
	}

	.news__block-link {
		margin-bottom: 20px;
	}

	.news__block-link-text {
		font-size: 23px;
		margin-right: 11px;
	}
}

@media (max-width:1600px) {
	.advantages {
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		justify-content: space-between;
		-webkit-justify-content: space-between;
		padding-top: 92px;
		margin-bottom: 22px;
	}

	.advantages__item-desc {
		padding: 56px 41px 15px 18px;
	}

	.advantages__item {
		max-width: 318px;
		height: 221px;
	}

	.advantages__item-img-block {
		top: -40px;
		left: 15px;
		min-width: 78px;
		min-height: 78px;
	}

	.advantages__item-img {
		top: 14px;
		left: 15px;
	}

	.advantages__item-desc-name {
		font-size: 24px;
		margin: 0 0 7px 0;
	}

	.advantages__item-desc-text {
		font-size: 15px;
	}

	.about-home {
		padding: 25px 27px 0 23px;
		margin-bottom: 48px;
	}

	.about-block:not(:last-child) {
		margin-bottom: 34px;
	}

	.about-block__caption {
		font-size: 36px;
		margin-bottom: 10px;
	}

	.about-block__caption-btn {
		min-width: 34px;
		min-height: 34px;
	}

	.arrow-up-btn {
		bottom: 14px;
		right: 8px;
	}

	.btn--rotate {
		top: 14px;
		left: 8px;
	}
}

@media (max-width: 1440px) {
	.wrap {
		padding: 0 15px;
	}

	.wrap-catalog {
		padding: 0 15px;
	}

	.catalog-cards__card {
		max-width: 243px;
		height: 450px;
		padding: 12px 12px 6px 11px;
	}

	.catalog-cards__card:not(:last-child) {
		margin-right: 15px;
	}

	.catalog-cards__card-img {
		width: 219px;
		height: 219px;
		margin-bottom: 11px;
	}

	.catalog-cards__card-rating-sym {
		width: 19px;
		height: 19px;
		margin-right: 3px;
	}

	.catalog-cards__card-scales {
		min-width: 20px;
		min-height: 22px;
		margin-right: 8px;
	}

	.catalog-cards__card-favourites {
		min-width: 23px;
		min-height: 21px;
	}

	.advantages {
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		justify-content: space-around;
		-webkit-justify-content: space-around;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		margin-bottom: 0;
	}

	.advantages__item:nth-child(-n+3) {
		margin-bottom: 55px;
	}

	.news-home {
		padding: 14px 0 12px 0;
	}

	.news__caption {
		margin-bottom: 10px;
	}

	.news__block-part {
		width: 70%;
		margin-right: 15px;
	}

	.news__block-img {
		width: 30%;
	}
}

@media (max-width:1370px) {
	.catalog-block {
		display: grid;
		display: -ms-grid;
		grid-template-columns: 1fr;
		-ms-grid-columns: 1fr;
		grid-template-areas:
			"cards"
			"list";
	}

	.catalog-list {
		width: 360px;
		margin: 0 auto 12px auto;
	}

	.catalog-list__item {
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		align-items: center;
		-webkit-align-items: center;
		padding: 13px 20px 14px 20px;
		width: 345px;
		height: 62px;
		font-size: 17px;
	}

	.catalog-list__title {
		margin-bottom: 25px;
	}

	.catalog-list__item_child,
	.catalog-list__item_child-pad {
		margin-bottom: 10px;
	}

	.catalog-list__item:hover {
		width: 360px;
		margin-left: -7px;
	}

	.catalog-cards {
		grid-template-areas:
			"promo promo promo"
			"cards cards pag"
			". arrow arrow";
		grid-template-rows: 25px 453px;
		-ms-grid-rows: 25px 453px;
		margin-bottom: 20px;
	}

	.catalog-cards__promo-item {
		font-size: 12px;
	}

	.catalog-cards__promo-item {
		width: 150px;
	}

	.catalog-cards__promo-item_popular {
		margin-right: 30px;
	}

	.catalog-cards__promo-btn {
		font-size: 11px;
	}

	.advantages__item-desc {
		padding: 56px 20px 15px 18px;
	}

	.about-block__caption {
		font-size: 30px;
	}
}

@media (max-width:1260px) {
	.news__block-part {
		width: 60%;
	}

	.news__block-img {
		width: 40%;
	}
}

@media (max-width:1120px) {
	.catalog-cards {
		grid-template-columns: 1fr;
		-ms-grid-columns: 1fr;
		grid-template-rows: 25px 270px;
		-ms-grid-rows: 25px 270px;
	}

	.catalog-cards__goods {
		width: 100%;
		height: 275px;
		justify-content: flex-start;
		-webkit-justify-content: flex-start;
		overflow-x: auto;
		margin-right: 0;
	}

	.catalog-cards__promo-btn,
	.catalog-cards__goods-pag {
		display: none;
	}

	.catalog-cards__card {
		min-width: 141px;
		max-width: 0;
		height: 265px;
		padding: 6px;
	}

	.catalog-cards__card-img {
		width: 129px;
		height: 129px;
		margin-bottom: 5px;
	}

	.catalog-cards__card-label-text {
		top: 11px;
		left: 4px;
		font-size: 13px;
	}

	.catalog-cards__card-label {
		width: 47px;
		height: 47px;
	}

	.catalog-cards__card-score {
		margin-bottom: 0;
	}

	.catalog-cards__card-rating-sym {
		width: 11px;
		height: 11px;
	}

	.catalog-cards__card-scales {
		min-width: 12px;
		min-height: 12px;
		background-size: contain;
		margin-right: 5px;
	}

	.catalog-cards__card-favourites {
		min-width: 12px;
		min-height: 12px;
	}

	.catalog-cards__card-title {
		font-size: 10px;
		margin-bottom: 2px;
	}

	.catalog-cards__card-property {
		font-size: 8px;
		margin-bottom: 3px;
	}

	.catalog-cards__card-price {
		font-size: 15px;
	}

	.catalog-cards__card-link {
		padding: 7px 10px;
		font-size: 9px;
	}

	.catalog-cards__card-double-old-price {
		font-size: 8px;
	}

	.news-home {
		padding: 12px 0 13px 0;
	}

	.news__caption {
		margin-bottom: 10px;
	}

	.news__caption-text {
		font-size: 27px;
		margin-right: 11px;
	}

	.news__caption-btn {
		min-width: 25px;
		min-height: 25px;
	}

	.news__block-part {
		width: 100%;
		margin-right: 0;
	}

	.news__block-img {
		display: none;
	}

	.news__block {
		padding: 12px 10px 0 10px;
		background: linear-gradient(266deg, rgba(115, 46, 133, 0.25) 0.17%, rgba(124, 153, 204, 0.25) 99.36%);
	}

	.news__block-article-caption {
		font-size: 18px;
		text-align: center;
		margin-bottom: 7px;
	}

	.news__block-article {
		margin-bottom: 13px;
	}

	.news__block-link-text {
		text-transform: uppercase;
	}

	.news__caption-btn {
		min-width: 25px;
		min-height: 25px;
	}

	.news__block-link {
		margin-bottom: 10px;
	}

	.about-home {
		padding: 12px 0 0 0;
		margin-bottom: 19px;
	}

	.about-block:not(:last-child) {
		margin-bottom: 19px;
	}

	.about-block__caption {
		justify-content: start;
		-webkit-justify-content: start;
		font-size: 20px;
		margin-bottom: 8px;
	}

	.about-block__caption-btn {
		min-width: 25px;
		min-height: 25px;
	}

	.about-block__text {
		font-size: 12px;
	}

	.block__caption-btn-img {
		min-width: 19px;
		min-height: 14px;
	}

	.arrow-up-btn {
		bottom: 10px;
		right: 6px;
	}

	.btn--rotate {
		top: 10px;
		left: 7px;
	}
}

@media (max-width: 1010px) {
	.wrap-content {
		padding-top: 5px;
	}
}

@media (max-width:990px) {
	.advantages {
		padding-top: 33px;
		margin-bottom: 13px;
	}

	.advantages__item {
		max-width: 173px;
		height: 119px;
	}

	.advantages__item:nth-child(-n+3) {
		margin-bottom: 37px;
	}

	.advantages__item-desc {
		padding: 33px 30px 8px 10px;
	}

	.advantages__item-img-block {
		top: -20px;
		min-width: 43px;
		min-height: 43px;
	}

	.advantages__item-img {
		width: 24px;
		height: 24px;
		top: 8px;
		left: 10px;
		background-size: contain;
	}

	.advantages__item-desc-name {
		font-size: 15px;
		margin: 0 0 3px 0;
	}

	.advantages__item-desc-text {
		font-size: 8px;
	}
}

@media (max-width:690px) {
	.about-block__caption {
		justify-content: space-between;
		-webkit-justify-content: space-between;
		margin-right: 0;
	}

	.about-block__text {
		font-weight: 300;
	}
}