.about-home {
	padding: 40px 38px 0 23px;
	margin-bottom: 30px;
}

.about-block:not(:last-child) {
	margin-bottom: 30px;
}

.about-block__caption {
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgba(0, 0, 0, 0.80);
	font-family: Gotham Pro, sans-serif;
	font-size: 41px;
	font-style: normal;
	font-weight: 400;
	line-height: 72%;
}

.block__caption-btn {
	min-width: 40px;
	min-height: 40px;
	position: relative;
	background: linear-gradient(180deg, #20B3B0 0%, #1EA9A3 100%);
	border: none;
	border-radius: 50%;
}
/* похожие блоки и классы в  news*/
.block__caption-btn-img {
	min-width: 22px;
	min-height: 16px;
	position: absolute;
}

.arrow-up-btn {
	display: inline-block;
	background: url('../img/arrow-up.svg') no-repeat;
	bottom: 16px;
	right: 11px;
}

.arrow-to-close {
	display: none;
}

.arrow-down-btn {
	display: inline-block;
	background: url('../img/arrow-down.svg') no-repeat;
	background-size: cover;
	bottom: 14px;
	right: 9.5px;
}

.arrow-to-open {
	display: none;
}
/* похожие блоки и классы в  news*/

.about-block__caption-f-block {
	margin-bottom: 23px;
}

.about-block__caption-s-block {
	margin-bottom: 17px;
}

.about-block__caption-th-block {
	margin-bottom: 11px;
}

.about-block__text {
	color: rgba(0, 0, 0, 0.70);
	font-family: Lato, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.about-block__caption-text {
	margin-right: 17px;
}

.about-block__text_link {
	color: #618FAB;
	line-height: 171%;
	text-decoration-line: underline;
}

li::marker {
	font-weight: bold;
}

.arrow-to-close {
	display: none;
}

.arrow-to-open {
	display: none;
}

@media (max-width:1600px) {
	.about-home {
		padding: 25px 27px 0 23px;
		margin-bottom: 48px;
	}

	.about-block:not(:last-child) {
		margin-bottom: 34px;
	}

	.about-block__caption {
		font-size: 36px;
		margin-bottom: 10px;
	}

	.about-block__caption-btn {
		min-width: 34px;
		min-height: 34px;
	}
}

@media (max-width:1300px) {
	.about-block__caption {
		font-size: 30px;
	}
}

@media (max-width:1120px) {
	.about-home {
		padding: 12px 0 0 0;
		margin-bottom: 19px;
	}

	.about-block:not(:last-child) {
		margin-bottom: 19px;
	}

	.about-block__caption {
		justify-content: start;
		font-size: 20px;
		margin-bottom: 8px;
	}

	.about-block__caption-btn {
		min-width: 25px;
		min-height: 25px;
	}

	.about-block__text {
		font-size: 12px;
	}
}

@media (max-width:690px) {
	.about-block__caption {
		justify-content: space-between;
		margin-right: 0;
	}

	.about-block__text {
		font-weight: 300;
	}
}