.arrow-up-btn-news {
	display: inline-block;
	width: 22px;
	height: 16px;
	position: absolute;
	bottom: 16px;
	right: 10px;
	background-image: url('../img/arrow-up.svg');
}

.arrow-down-btn-news {
	display: none;
	width: 22px;
	height: 16px;
	position: absolute;
	bottom: 16px;
	right: 10px;
	background-image: url('../img/arrow-down.svg');
}