.catalog {
	padding: 50px 0 100px 0;
	background-color: #F6F7FA;
	box-shadow: 0px 18px 52px -36px rgba(0, 0, 0, 0.50) inset;
}

/* .catalog-block {
	display: grid;
	grid-template-areas: 'list cards';
	grid-template-columns: 20% 80%;
} */

.catalog-block {
	display: flex;
	justify-content: space-between;
}

.catalog-list {
	grid-area: list;
	margin-right: 22px;
}

.catalog-list__title {
	color: rgba(0, 0, 0, 0.80);
	font-family: Gotham Pro, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 84.5%;
	margin-bottom: 29px;
}

.catalog-list__item {
	padding: 5px 12px 5px 13px;
	width: 271px;
	height: 44px;
	border-radius: 5px;
	background-color: #FEFEFE;
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15);
	color: rgba(0, 0, 0, 0.70);
	font-family: Lato, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 100.5%;
}

.catalog-list__item_child-pad {
	padding: 13px 12px 14px 13px;
}

.catalog-list__item_child,
.catalog-list__item_child-pad {
	margin-bottom: 7px;
}

.catalog-list__item:hover {
	width: 289px;
	background: linear-gradient(354deg, #1B978A -63.14%, #20B3B0 59.44%);
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.50);
	color: #FFF;
}

.catalog-cards {
	display: grid;
	grid-template-areas:
		'promo arrow .'
		'cards cards pag';
	grid-template-rows: 1fr 91%;
	grid-template-columns: 85% 12% 3%;
}

.catalog-cards__promo {
	grid-area: promo;
	display: flex;
	justify-content: flex-end;
	margin-right: 159px;
}

.catalog-cards__promo-item {
	color: rgba(0, 0, 0, 0.80);
	font-family: Gotham Pro, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 72%;
}

.catalog-cards__promo-item:not(:last-child) {
	margin-right: 50px;
}

.catalog-cards__promo-button {
	grid-area: arrow;
}

.catalog-cards__promo-btn {
	color: #D72853;
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border: none;
	background-color: #F6F7FA;
}

.catalog-cards__goods {
	grid-area: cards;
	display: flex;
	align-items: center;
	margin-right: 26px;
}

.catalog-cards__goods-pag {
	grid-area: pag;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.catalog-cards__goods-pag-btn {
	padding: 14px 15px 17px 16px;
	min-width: 17px;
	min-height: 17px;
	border-radius: 5px;
	background: #FFF;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	border: none;
}

.catalog-cards__goods-pag-btn_left {
	background: url('../img/angle-left.svg') center no-repeat;
	margin-bottom: 17px;
}

.catalog-cards__goods-pag-btn_right {
	background: url('../img/angle-right.svg') center no-repeat;
}

.catalog-cards__card {
	position: relative;
	max-width: 280px;
	height: 510px;
	padding: 13px 13px 7px 18px;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.15);
}

.catalog-cards__card:hover {
	background: linear-gradient(196deg, #DCCBE0 1.42%, #DEE5F2 100%);
	box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.50);
}

.catalog-cards__card:nth-child(-n+3) {
	margin-right: 45px;
}

.catalog-cards__card-label {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 75px;
	min-height: 75.5px;
}

.label-bestseller {
	background: url('../img/label-bestseller.svg') no-repeat;
}

.label-new {
	background: url('../img/label-new.svg') no-repeat;
}

.label-new-stock {
	background: url('../img/label-new-stock.svg') no-repeat;
}

.catalog-cards__card-label-text {
	position: absolute;
	top: 15px;
	left: 8px;
	color: #FFF;
	text-align: center;
	font-family: Gotham Pro, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 72%;
	transform: rotate(-43.819deg);
}

.catalog-cards__card-img {
	width: 100%;
	height: 245px;
	margin-bottom: 12px;
}

.catalog-cards__card-img-good {
	width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.catalog-cards__card-score {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.catalog-cards__card-rating-sym {
	display: inline-block;
	width: 21px;
	height: 21px;
	margin-right: 5px;
}

.catalog-cards__card-rating-sym_ys {
	background: url('../img/star-yellow.svg') no-repeat;
	background-size: contain;
}

.catalog-cards__card-rating-sym_gs {
	background: url('../img/star-gray.svg') no-repeat;
	background-size: contain;
}

.catalog-cards__card-comparison {
	display: flex;
}

.catalog-cards__card-scales {
	display: inline-block;
	min-width: 25px;
	min-height: 25px;
	background: url('../img/comp-gray.svg') no-repeat;
	margin-right: 12px;
}

.scales-add {
	background: url('../img/comp-blue.svg') no-repeat;
	background-size: contain;
}

.catalog-cards__card-favourites {
	display: inline-block;
	min-width: 25px;
	min-height: 25px;
	background: url('../img/heart-gray.svg') no-repeat;
	background-size: contain;
}

.favourites-add {
	background: url('../img/heart-red.svg') no-repeat;
	background-size: contain;
}

.catalog-cards__card-line {
	border-top: 3px solid rgba(0, 0, 0, 0.10);
	margin-bottom: 15px;
}

.catalog-cards__card-title {
	color: rgba(0, 0, 0, 0.80);
	font-family: Gotham Pro, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 84.5%;
	overflow-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin-bottom: 5px;
}

.catalog-cards__card-property {
	color: rgba(0, 0, 0, 0.30);
	font-family: Lato, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 14px;
}

.avaliable-true {
	color: #30FF0E;
}

.avaliable-false {
	color: #FF0E0E;
}

.property-dist {
	margin-bottom: 3px;
}

.catalog-cards__card-footer {
	padding-left: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.catalog-cards__card-price {
	color: #000;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.50);
	font-family: Lato;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.catalog-cards__card-double-price {
	display: flex;
	flex-direction: column;
}

.catalog-cards__card-double-old-price {
	color: rgba(0, 0, 0, 0.20);
	text-shadow: none;
	font-size: 18px;
	font-weight: 400;
	text-decoration: line-through;
}

.catalog-cards__card-double-new-price {
	color: #F00;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.50);
}

.catalog-cards__card-link {
	padding: 15px 25px 15px 27px;
	border-radius: 10px;
	background: #8FD6D4;
	color: #FFF;
	font-family: Gotham Pro, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 84.5%;
}

.catalog-cards__card-link:hover {
	background: linear-gradient(180deg, #1B9486 0%, #21B8B7 100%);
}

@media (max-width: 1925px) {
	.catalog {
		padding: 33px 0 37px 0;
	}

	.catalog-cards {
		min-width: 1500px;
	}

	.catalog-list {
		margin-right: 20px;
	}

	.catalog-list__title {
		margin-bottom: 23px;
	}

	.catalog-list__item {
		padding: 5px 10px 4px 10px;
		width: 241px;
		height: 39px;
		font-size: 15px;
	}

	.catalog-list__item_child-pad {
		padding: 12px 25px 13px 10px;
	}

	.catalog-list__item_child,
	.catalog-list__item_child-pad {
		margin-bottom: 6px;
	}

	.catalog-list__item:hover {
		width: 256px;
	}

	.catalog-cards {
		grid-template-areas:
			'promo arrow arrow'
			'cards cards pag';
		grid-template-columns: 89% 9% 2%;
	}

	.catalog-cards__goods-pag-btn {
		padding: 53px 14px 54px 14px;
		min-width: 15px;
		min-height: 15px;
	}

	.catalog-cards__goods-pag-btn_left {
		margin-bottom: 43px;
	}

	.catalog-cards__promo {
		margin-right: 156px;
	}

	.catalog-cards__promo {
		margin-right: 156px;
	}

	.catalog-cards__promo-item:not(:last-child) {
		margin-right: 47px;
	}

	.catalog-cards__promo-item {
		font-size: 22px;
	}

	.catalog-cards__goods {
		justify-content: space-between;
		margin-right: 22px;
	}
}

@media (max-width: 1850px) {
	.catalog-cards__card:nth-child(-n+3) {
		margin-right: 18px;
	}
}

@media (max-width: 1440px) {
	.catalog-cards__card {
		max-width: 243px;
		height: 453px;
		padding: 12px 12px 6px 11px;
	}

	.catalog-cards__card-img {
		height: 219px;
		margin-bottom: 11px;
	}

	.catalog-cards__card-rating-sym {
		width: 19px;
		height: 19px;
		margin-right: 3px;
	}

	.catalog-cards__card-scales {
		min-width: 20px;
		min-height: 22px;
		margin-right: 8px;
	}

	.catalog-cards__card-favourites {
		min-width: 23px;
		min-height: 21px;
	}


	/* //////////////////////////////////////////////////////////////////////////////// */

	.catalog-cards__card-title {
		font-size: 14px;
		-webkit-line-clamp: 3;
	}
}