.footer-top {
	padding: 28px 0 29px 0;
	background: rgba(230, 238, 244, 0.50);
}

.footer__block {
	display: flex;
	justify-content: space-between;
}

.footer-caption {
	color: rgba(0, 0, 0, 0.80);
	font-family: Gotham Pro, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 84.5%;
}

.footer-nav__caption {
	margin-bottom: 18px;
}

.footer-nav__item {
	color: #000;
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 72%;
}

.footer-nav__item:not(:last-child) {
	margin-bottom: 18px;
}

.footer-seo {
	max-width: 50%;
}

.footer-seo__caption {
	text-align: center;
	margin-bottom: 20px;
}

.footer-seo__taps {
	display: flex;
	flex-wrap: wrap;
}

.footer-seo__taps-tag {
	max-width: 300px;
	display: flex;
	align-items: center;
	border-radius: 25px;
	margin-bottom: 7px;
}

.footer-seo__taps-tag:not(last-child) {
	margin-right: 7px;
}

.footer-seo__taps-tag-text {
	color: #000;
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 72%;
}

.footer-seo__taps-tag_pur {
	padding: 18px 65px 18px 65px;
	background: rgba(115, 46, 133, 0.50);
}

.footer-seo__taps-tag_gr {
	padding: 18px 31px 18px 41px;
	background: rgba(124, 153, 204, 0.50);
}

.footer-seo__taps-tag_bl {
	padding: 18px 31px 18px 41px;
	background: rgba(97, 196, 233, 0.50);
}

.footer-seo__taps-tag_gre {
	padding: 18px 43px 18px 56px;
	background: rgba(25, 124, 124, 0.50);
}

.footer-seo__taps-tag_aq {
	padding: 18px 55px 18px 101px;
	background: rgba(34, 186, 186, 0.50);
}

.footer-contacts__items {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.footer-contacts__caption {
	text-align: end;
	margin-bottom: 22px;
}

.footer-contacts__item {
	color: rgba(0, 0, 0, 0.80);
	text-align: center;
	font-family: Gotham Pro, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 72%;
}

.footer-contacts__email {
	letter-spacing: 0.25px;
	margin-bottom: 17px;
}

.footer-contacts__phone {
	letter-spacing: -2.5px;
	margin-bottom: 21px;
}

.footer-contacts__call {
	margin-bottom: 26px;
}

.footer-contacts__call-btn {
	padding: 6px 18px 7px 16px;
	border-radius: 5px;
	background: linear-gradient(354deg, #1B978A -63.14%, #20B3B0 59.44%);
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.50);
	border: none;
	color: #FFF;
	font-family: Lato, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 100.5%;
}

.footer-contacts__socials {
	display: flex;
}

.footer-contacts__socials-icon-vk {
	background: url('../img/vk-icon.svg') center no-repeat;
	min-width: 35px;
	min-height: 38px;
	background-size: contain;
}

.footer-contacts__socials-icon-ws {
	background: url('../img/wat-icon.svg') center no-repeat;
	min-width: 36px;
	min-height: 37px;
}

.footer__mob, 
.footer__mob-loc-modal {
	display: none;
}

@media (max-width:1700px) {
	.footer-top {
		padding: 25px 0 25px 0;
	}

	.footer-nav__caption {
		margin-bottom: 14px;
	}

	.footer-nav__item:not(:last-child) {
		margin-bottom: 14px;
	}

	.footer-seo__caption {
		margin-bottom: 16px;
	}

	.footer-seo__taps-tag_pur {
		padding: 15px 55px 15px 49px;
	}

	.footer-seo__taps-tag_gr {
		padding: 15px 24px 15px 29px;
	}

	.footer-seo__taps-tag_bl {
		padding: 15px 25px 15px 28px;
	}

	.footer-seo__taps-tag_gre {
		padding: 15px 36px 15px 41px;
	}

	.footer-seo__taps-tag_aq {
		padding: 15px 87px 15px 90px;
	}

	.footer-contacts__email {
		margin-bottom: 12px;
	}

	.footer-contacts__phone {
		margin-bottom: 18px;
	}

	.footer-contacts__call {
		margin-bottom: 15px;
	}

	.footer-contacts__call-btn {
		padding: 6px 21px 10px 23px;
		font-size: 20px;
	}
}

@media (max-width:1300px) {
	.footer-top {
		padding: 14px 0 18px 0;
	}

	.footer-caption {
		font-size: 20px;
	}

	.footer-nav__caption {
		margin-bottom: 10px;
	}

	.footer-nav__item {
		font-size: 16px;
	}

	.footer-nav__item:not(:last-child) {
		margin-bottom: 7px;
	}

	.footer-seo__caption {
		margin-bottom: 10px;
	}

	.footer-seo__taps-tag_pur {
		padding: 10px 35px 10px 28px;
	}

	.footer-seo__taps-tag_gr {
		padding: 10px 14px 10px 19px;
	}

	.footer-seo__taps-tag_bl {
		padding: 10px 15px 10px 18px;
	}

	.footer-seo__taps-tag_gre {
		padding: 10px 26px 10px 31px;
	}

	.footer-seo__taps-tag_aq {
		padding: 10px 58px 10px 72px;
	}

	.footer-seo__taps-tag-text {
		font-size: 14px;
	}

	.footer-contacts__item {
		font-size: 16px;
	}

	.footer-contacts__email {
		margin-bottom: 9px;
	}

	.footer-contacts__phone {
		margin-bottom: 15px;
	}

	.footer-contacts__call-btn {
		padding: 6px 16px 10px 16px;
		font-size: 16px;
	}
}

@media (max-width:1010px) {
	.footer-top {
		padding: 14px 0 0 0;
		background-color: #FFF;
	}

	.footer__block {
		display: none;
	}

	.footer-line {
		display: block;
		border: 1px solid rgba(0, 0, 0, 0.30);
	}

	.footer__mob {
		padding-top: 14px;
		display: block;
		margin-bottom: 18px;
	}

	.footer__mob-menu-items {
		margin-bottom: 19px;
	}

	.footer__mob-menu-item {
		color: rgba(0, 0, 0, 0.70);
		font-family: Lato, sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.footer__mob-menu-item:not(:last-child) {
		margin-bottom: 6px;
	}

	.footer__mob-location {
		display: flex;
		margin-bottom: 14px;
		font-family: Lato, sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.footer__mob-location-desc {
		color: #000;
		margin-right: 5px;
	}

	.footer__mob-location-city {
		color: #22BABA;
		text-decoration: underline;
	}

	.footer__mob-copyrights {
		color: #000;
		font-family: Montserrat, sans-serif;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		letter-spacing: -0.675px;
	}

	.footer__mob-soglashenie {
		width: 70%;
		color: #000;
		font-family: Montserrat, sans-serif;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		letter-spacing: -0.675px;
		text-decoration: underline;
	}

	.footer__mob-bottom {
		display: flex;
		justify-content: space-between;
		align-items: end;
	}

	.footer__mob-bottom-socials {
		display: flex;
	}

	.footer__mob-loc-modal {
		display: block;
	}
}