.news-home {
	padding: 27px 0 20px 0;
}

.news__caption {
	display: flex;
	justify-content: center;
	margin-bottom: 26px;
}

/* похожие блоки и классы в about*/
.block__caption-btn {
	min-width: 40px;
	min-height: 40px;
	position: relative;
	background: linear-gradient(180deg, #20B3B0 0%, #1EA9A3 100%);
	border: none;
	border-radius: 50%;
}

.block__caption-btn-img {
	min-width: 22px;
	min-height: 16px;
	position: absolute;
}

.arrow-up-btn {
	display: inline-block;
	background: url('../img/arrow-up.svg') no-repeat;
	bottom: 16px;
	right: 11px;
}

.arrow-to-close {
	display: none;
}

.arrow-down-btn {
	display: inline-block;
	background: url('../img/arrow-down.svg') no-repeat;
	background-size: cover;
	bottom: 14px;
	right: 9.5px;
}

.arrow-to-open {
	display: none;
}

/* похожие блоки и классы в about*/

.news__caption-text {
	color: rgba(0, 0, 0, 0.80);
	text-align: center;
	font-family: Gotham Pro, sans-serif;
	font-size: 50px;
	font-style: normal;
	font-weight: 400;
	line-height: 72%;
	margin-right: 13px;
}

.news__block {
	display: flex;
	justify-content: space-between;
	padding: 20px 35px 0 21px;
	border-radius: 10px;
	background: linear-gradient(266deg, rgba(115, 46, 133, 0.25) 0.17%, rgba(124, 153, 204, 0.25) 99.36%);
}

.news__block-part {
	width: 70%;
	margin-right: 26px;
}

.news__block-article {
	margin-bottom: 59px;
	font-family: Lato, sans-serif;
	font-style: normal;
}

.news__block-article-caption {
	color: rgba(0, 0, 0, 0.70);
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 9px;
}

.news__block-article-text {
	color: rgba(0, 0, 0, 0.70);
	font-size: 17px;
	font-weight: 400;
}

.news__block-article-text_link {
	color: #618FAB;
	font-weight: 400;
	line-height: 171%;
	text-decoration-line: underline;
}

.news-block__caption-link-btn {
	display: inline-block;
	min-width: 25px;
	min-height: 25px;
	position: relative;
	background-color: #FFF;
	border: none;
	border-radius: 50%;
}

.news-block__caption-link-arrow {
	display: inline-block;
	width: 8px;
	height: 8px;
	position: absolute;
	left: 10px;
	top: 3px
}

.news__block-link {
	display: flex;
	align-items: center;
	margin-bottom: 31px;
}

.news__block-link-text {
	display: inline-block;
	color: #1B988C;
	font-family: PT Sans, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 700;
	line-height: 95%;
	margin-right: 15px;
}

.news__block-img {
	width: 30%;
}

.news__block-pic {
	width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.block-close {
	display: none;
}

@media (max-width:1920px) {
	.news__block-part {
		width: 80%;
		margin-right: 35px;
	}

	.news__block-article {
		margin-bottom: 18px;
	}

	.news__block-img {
		width: 20%;
	}
}

@media (max-width:1680px) {
	.news-home {
		padding: 22px 0 24px 0;
	}

	.news__caption {
		margin-bottom: 18px;
	}

	.news__caption-text {
		font-size: 40px;
		margin-right: 16px;
	}

	.news__caption-btn {
		min-width: 34px;
		min-height: 34px;
	}

	.news__block {
		padding: 18px 20px 0 19px;
	}

	.news__block-part {
		margin-right: 10px;
	}

	.news__block-article-caption {
		margin-bottom: 4px;
	}

	.news__block-article-text {
		font-size: 15px;
	}

	.news__block-link {
		margin-bottom: 20px;
	}

	.news__block-link-text {
		font-size: 23px;
		margin-right: 11px;
	}
}

@media (max-width:1440px) {
	.news-home {
		padding: 14px 0 12px 0;
	}

	.news__caption {
		margin-bottom: 10px;
	}

	.news__block-part {
		width: 70%;
		margin-right: 15px;
	}

	.news__block-img {
		width: 30%;
	}
}

@media (max-width:1260px) {
	.news__block-part {
		width: 60%;
	}

	.news__block-img {
		width: 40%;
	}
}

@media (max-width:1120px) {
	.news-home {
		padding: 12px 0 13px 0;
	}

	.news__caption {
		margin-bottom: 10px;
	}

	.news__caption-text {
		font-size: 27px;
		margin-right: 11px;
	}

	.news__caption-btn {
		min-width: 25px;
		min-height: 25px;
	}

	.news__block-part {
		width: 100%;
		margin-right: 0;
	}

	.news__block-img {
		display: none;
	}

	.news__block {
		padding: 12px 10px 0 10px;
		background: linear-gradient(266deg, rgba(115, 46, 133, 0.25) 0.17%, rgba(124, 153, 204, 0.25) 99.36%);
	}

	.news__block-article-caption {
		font-size: 18px;
		text-align: center;
		margin-bottom: 7px;
	}

	.news__block-article {
		margin-bottom: 13px;
	}

	.news__block-link-text {
		text-transform: uppercase;
	}

	.news__caption-btn {
		min-width: 25px;
		min-height: 25px;
	}

	.news__block-link {
		margin-bottom: 10px;
	}
}