.footer-bottom {
	padding: 24px 0 27px 0;
	display: flex;
	justify-content: space-between;
}

.footer-bottom__item {
	display: flex;
}

.footer-bottom__logo {
	max-width: 81px;
	margin-right: 8px;
}

.footer-bottom__company {
	padding-top: 16px;
}

.footer-bottom__item_text {
	max-width: 250px;
	flex-direction: column;
	color: #000;
	text-align: right;
	font-family: Montserrat, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.675px;
}

.footer-bottom__soglashenie {
	text-decoration-line: underline;
}