@import url('./fonts/gothampro_medium.ttf');

html {
	position: relative;
	box-sizing: border-box;
	overflow: scroll;
	overflow-x: scroll;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-size: 16px;
	min-width: 320px;
	min-height: 100vh;
}

img,
svg {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

button {
	padding: 0;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
	margin: 0;
}

iframe {
	border: none;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

.container-block {
	max-width: 1920px;
	margin: 0 auto;
}

blockquote {
	margin: 0;
}

.wrap {
	padding: 0 190px;
}

.wrap-content {
	padding-top: 25px;
}

.breadcrumbs {
	margin-bottom: 17px;
}

.breadcrumbs__items {
	display: flex;
	color: rgba(0, 0, 0, 0.30);
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.breadcrumbs__item_not-active:after {
	content: "/";
	padding-left: 9px;
	margin-right: 6px;
}

.breadcrumbs__item_active {
	color: rgba(0, 0, 0, 0.70);
}

.general-section {
	padding-top: 2px;
	display: grid;
	grid-template-areas: 'left-menu title'
		'left-menu articles';
	margin-bottom: 41px;
}

.left-menu {
	grid-area: left-menu;
	padding-top: 3px;
	min-width: 279px;
	margin: 0 27px 0 0;
}

.left-menu__item {
	width: 271px;
	padding: 12px 0 12px 15px;
	background-color: #FFF;
	box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.15);
	color: #000;
	font-family: Inter, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	border: 1px solid #FFF;
}

.selected-blog {
	color: #1DA49C;
}

.left-menu__item:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	padding: 14px 0 15px 19px;
	color: #1DA49C;
	font-weight: 500;
	line-height: 86.523%;
	border-radius: 4px;
	border: 1px solid #1DA49C;
	box-shadow: 0px 0px 10px -1px #1DA49C;
	transition: 0.5s;
}

.blog__main-title {
	grid-area: title;
	color: #000;
	font-family: Tenor Sans, sans-serif;
	font-size: 50px;
	font-style: normal;
	font-weight: 400;
	line-height: 84.5%;
	letter-spacing: 0.75px;
	margin-bottom: 20px;
}

.blog__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.blog__card {
	width: 225px;
	height: 424px;
	padding: 19px 18px 0 18px;
	border-radius: 10px;
	background-color: #FFF;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.30);
	font-family: Lato, sans-serif;
	font-style: normal;
	margin: 0 19px 24px 0;
}

.blog__card:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.60);
	transition: 1s;
}

.blog__card-img {
	width: 100%;
	height: 234px;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
	margin-bottom: 9px;
}

.blog__card-title {
	color: #000;
	font-size: 17px;
	font-weight: 700;
	line-height: 96.5%;
	overflow-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin-bottom: 6px;
}

.blog__card-description {
	color: rgba(0, 0, 0, 0.60);
	font-size: 13px;
	font-weight: 400;
	overflow-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin-bottom: 13px;
}

.blog__card-info {
	display: flex;
	justify-content: space-between;
	color: rgba(0, 0, 0, 0.70);
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 12px;
}

.blog__card-view {
	display: flex;
	align-items: center;
}

.blog__card-view-img {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 3px;
}

@media (max-width: 1923px) {
	.wrap {
		padding: 0 37px;
	}

	.blog__card {
		margin: 0 30px 25px 0;
	}
}

@media (max-width: 1440px) {
	.blog__card {
		width: 240px;
		height: 435px;
		padding: 21px 20px 0 20px;
		margin: 0 20px 25px 0;
	}

	.blog__card-img {
		height: 253px;
		margin-bottom: 10px;
	}

	.blog__card-description {
		margin-bottom: 23px;
	}
}

@media (max-width: 1010px) {
	.wrap-content {
		padding-top: 5px;
	}

	.breadcrumbs {
		display: none;
	}

	.general-section {
		padding-top: 5px;
		grid-template-areas: 'title'
			'left-menu'
			'articles';
		margin-bottom: 11px;
	}

	.blog__main-title {
		font-size: 30px;
		letter-spacing: 0.45px;
		margin-bottom: 25px;
	}

	.left-menu {
		padding-top: 0;
		min-height: 140px;
		min-width: 358px;
		margin: 0 0 5px 0;
	}

	.left-menu__item {
		width: 100%;
		padding: 12px 0 12px 0;
		text-align: center;
	}

	.left-menu__item:hover {
		width: 100%;
		padding: 14px 0 14px 0;
		-webkit-transform: scale(1.02);
		-ms-transform: scale(1.02);
		transform: scale(1.02);
		margin-left: -2px;
	}

	.blog__cards {
		padding-top: 16px;
	}

	.blog__card {
		width: 171px;
		height: 296px;
		padding: 13px 13px 0 13px;
		margin: 0 25px 20px 0;
	}

	.blog__card-img {
		height: 160px;
		margin-bottom: 8px;
	}

	.blog__card-title {
		font-size: 14px;
	}

	.blog__card-description {
		font-size: 10px;
		margin-bottom: 0;
	}

	.blog__card-info {
		font-size: 13px;
		margin-bottom: 5px;
	}

	.blog__card-view {
		align-items: stretch;
	}

	.blog__card-view-img {
		width: 10px;
		height: 9px;
	}
}