@import url('./fonts/gothampro_medium.ttf');

html {
	position: relative;
	box-sizing: border-box;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	min-width: 320px;
	min-height: 100vh;
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-behavior: smooth;
	margin: 0;
}

main {
	display: block;
}

img,
svg {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	border-style: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
	margin: 0;
}

iframe {
	border: none;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
}

.container-block {
	max-width: 1920px;
	margin: 0 auto;
}

.wrap {
	padding: 0 190px;
}

.maintenance {
	padding: 281px 87px 0 87px;
	margin-bottom: 164px;
}

.maintenance__block {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	padding: 57px 58px 48px 88px;
	border-radius: 20px;
	background: #F3F7FA;
}

.maintenance__logo {
	margin-right: 202px;
}

.maintenance__logo-img {
	min-width: 336px;
	min-height: 309px;
}

.maintenance__desc-title {
	color: #000;
	font-family: Tenor Sans, sans-serif;
	font-size: 50px;
	line-height: 84.5%;
	letter-spacing: 0.75px;
	text-align: right;
	margin-bottom: 22px;
}

.maintenance__desc-info {
	color: rgba(0, 0, 0, 0.70);
	text-align: right;
	font-size: 22px;
}

.maintenance__desc-text_a {
	margin-bottom: 16px;
}

.maintenance__desc-text_b {
	margin-bottom: 12px;
}

.maintenance__desc-text-location_disp {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	justify-content: end;
	-webkit-justify-content: end;
}

.maintenance__desc-text-city {
	color: #16C1F3;
	margin-right: 11px;
}

.maintenance__desc-text-phone {
	color: #1B9183;
	font-weight: 500;
}

.maintenance__desc-text-phone_disp {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
}

@media (max-width: 1910px) {
	.maintenance {
		padding: 222px 0 0 0;
		margin-bottom: 101px;
	}

	.maintenance__logo {
		margin-right: 130px;
	}
}

@media (max-width: 1670px) {
	.wrap {
		padding: 0 37px;
	}
}

@media (max-width: 1390px) {
	.maintenance {
		padding: 100px 0 0 0;
	}

	.maintenance__block {
		padding: 57px 58px 48px 88px;
	}

	.maintenance__logo {
		margin-right: 100px;
	}

	.maintenance__desc-title {
		font-size: 30px;
		letter-spacing: 0.45px;
		margin-bottom: 19px;
	}

	.maintenance__desc-info {
		font-size: 20px;
	}

	.maintenance__desc-text-location {
		font-size: 22px;
	}
}

@media (max-width: 1100px) {
	.maintenance {
		padding: 15px 0 0 0;
		margin-bottom: 130px;
	}

	.maintenance__block {
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		flex-direction: column;
		-webkit-flex-direction: column;
		padding: 19px 3px 10px 3px;
	}

	.maintenance__logo {
		margin: 0 auto 19px auto;
	}

	.maintenance__logo-img {
		min-width: 159px;
		min-height: 143px;
		background-position: center;
	}

	.maintenance__desc-title {
		text-align: center;
	}

	.maintenance__desc-info {
		text-align: center;
	}

	.maintenance__desc-text_a {
		margin-bottom: 12px;
	}

	.maintenance__desc-text_b {
		margin-bottom: 4px;
	}

	.maintenance__desc-text-location {
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		flex-direction: column;
		-webkit-flex-direction: column;
		justify-content: center;
		-webkit-justify-content: center;
		margin-bottom: 6px;
	}
}