@import url("./fonts/gothampro_medium.ttf");

html {
	position: relative;
	box-sizing: border-box;
	overflow: scroll;
	overflow-x: scroll;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	min-width: 320px;
	min-height: 100vh;
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}

img,
svg {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

button {
	padding: 0;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
	margin: 0;
}

iframe {
	border: none;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

.container-block {
	max-width: 1920px;
	margin: 0 auto;
}

.wrap {
	padding: 0 190px;
}

header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.10);
	box-shadow: 0 4px 23px -10px rgba(0, 0, 0, 0.50);
}

.header-menu {
	display: flex;
	background-color: #5586A4;
	justify-content: flex-end;
	padding-right: 192px;
	align-items: center;
	color: #FFF;
	text-align: center;
	font-family: Montserrat, sans-serif;
	font-size: 17px;
	line-height: 72%;
}

.header-menu__items {
	display: flex;
}

.selected {
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-weight: 700;
}

.header-menu__item {
	align-self: center;
	margin-right: 50px;
}

.header-menu__btn {
	background-color: #5586A4;
	color: #FFF;
	border: none;
}

.header-menu__reg,
.header-menu__logout {
	padding: 18px 0 17px 0;
}

.header-menu__reg {
	margin-right: 21px;
}

.header-menu__auth,
.header-menu__user-name {
	padding: 18px 29px 17px 29px;
}

.header-menu__auth:hover,
.header-menu__user-name {
	text-shadow: 0 0 .9px #FFF, 0 0 .9px #FFF, 0 0 .9px #FFF;
	background: linear-gradient(77deg, #22BABA 0%, #1B9183 100%);
}

.header-menu__user-name {
	margin-right: 21px;
}

.header-menu__mob {
	display: none;
}

.header-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 0 11px 0;
	color: rgba(0, 0, 0, 0.80);
	font-family: Gotham Pro, sans-serif;
	line-height: 72%;
}

.header-block__left {
	display: flex;
	align-items: center;
}

.header-block__logo {
	width: 99px;
	height: 91px;
	margin-right: 5px;
}

.header-block__logo-img {
	width: 99px;
	height: 91px;
}

.header-block__search {
	min-width: 587px;
	position: relative;
	margin-right: 13px;
}

.header-block__search-input {
	width: 100%;
	padding: 27px 0 28px 27px;
	border-radius: 37.5px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	color: rgba(0, 0, 0, 0.30);
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 72%;
}

.header-block__search-icon {
	position: absolute;
	right: 33px;
	top: 27px;
	display: inline-block;
	background: url("./img/search.svg") no-repeat;
	width: 22px;
	height: 22px;
	border: none;
}

.header-block__location {
	margin-right: 8px;
}

.header-block__location-city {
	display: flex;
	position: relative;
	align-items: center;
	margin-bottom: 17px;
}

.header-block__location-city-desc {
	letter-spacing: -1.12px;
	margin-right: 10px;
}

.header-block__location-city-name {
	background: linear-gradient(90deg, #22BABA 0%, #22BABA 112.32%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	border: none;
}

.header-block__location-city-select {
	display: block;
	position: absolute;
	top: 25px;
	min-width: 400px;
	max-width: 450px;
	padding: 20px;
	background-color: #FFF;
	border-radius: 6px;
	box-shadow: 0 0 30px 30px rgb(154 161 177 / 15%), 0 4px 70px -8px rgb(36 40 47 / 25%), 0 4px 4px -2px rgb(91 94 105 / 15%);
	z-index: 1;
	opacity: 1.06;
	color: rgba(0, 0, 0, 0.80);
	font-size: 15px;
}

.header-block__location-city-select:before {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-right: 0;
	top: -5px;
	left: 145px;
	border-bottom: 12px solid transparent;
	border-right: 12px solid #fff;
	-webkit-transform: rotate(315deg);
	transform: rotate(315deg);
}

.header-select-city__confirmation {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 15px;
}

.header-select-city__info {
	line-height: 20px;
}

.header-select-city__info_font {
	font-weight: 600;
	margin-bottom: 15px;
}

.header-select-city__confirm,
.header-select-city__title {
	padding: 10px;
	border-radius: 4px;
	border: none;
	background-color: rgba(34, 186, 186, 0.50);
}

.header-select-city {
	display: none;
	opacity: 0;
}

.header-block__location-phone-num {
	letter-spacing: -1.6px;
	margin-right: 9px;
	text-align: left;
}

.header-block__location-phone-call {
	color: #1B9487;
	text-decoration-line: underline;
	border: none;
	background-color: #fff;
	text-align: left;
}

.header-block__compare {
	display: flex;
	flex-direction: column;
	margin-right: 19px;
}

.header-block__compare-item {
	display: flex;
	align-items: center;
}

.header-block__compare-item_mb {
	padding-left: 4px;
	margin-bottom: 10px;
}

.header-block__compare-icon {
	display: inline-block;
}

.header-block__compare-icon_favourites {
	background-image: url("./img/favourite.svg");
	min-width: 18px;
	min-height: 18px;
	margin-right: 11px;
}

.header-block__compare-icon_comparison {
	background-image: url("./img/comparison.svg");
	min-width: 25px;
	min-height: 25px;
	margin-right: 7px;
}

.header-block__compare-text {
	margin-right: 9px;
}

.header-block__compare-count {
	margin-top: 2px;
	color: rgba(0, 0, 0, 0.25);
	font-family: PT Sans, sans-serif;
	line-height: 72%;
	letter-spacing: -1.05px;
}

.header-block__cart {
	display: flex;
	align-items: center;
}

.header-block__cart-button {
	position: relative;
}

.header-block__cart-btn {
	min-width: 75px;
	min-height: 75px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.25);
	background: url("./img/cart.svg") center no-repeat;
	margin-right: 9px;
}

.header-block__cart-button-count {
	min-width: 23px;
	min-height: 23px;
	position: absolute;
	right: 7px;
	top: 0;
}

.header-block__cart-button-num {
	position: absolute;
	right: 9px;
	top: 6px;
	color: #FFF;
	font-family: PT Sans, sans-serif;
	font-size: 14px;
	line-height: 72%;
	letter-spacing: -0.98px;
}

.header-block__cart-desc {
	display: flex;
	flex-direction: column;
}

.header-block__cart-desc-name {
	color: rgba(0, 0, 0, 0.35);
	font-size: 12px;
	margin-bottom: 6px;
}

.header-block__cart-desc-sum {
	color: #2C2C2C;
	font-size: 14px;
	font-weight: 700;
}

.header-block__mob {
	display: none;
}

.company {
	max-width: 200px;
	font-family: Gotham Pro, sans-serif;
}

.company-title {
	font-size: 20px;
	line-height: 84.5%;
	letter-spacing: -1.4px;
	background: linear-gradient(90deg, #1B9183 15.52%, #22BABA 57.07%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 7px;
}

.company-slogan {
	color: rgba(0, 0, 0, 0.80);
	font-size: 15px;
	line-height: 72%;
	letter-spacing: -1.05px;
}

.footer-top {
	padding: 28px 0 29px 0;
	background: rgba(230, 238, 244, 0.50);
}

.footer__block {
	display: flex;
	justify-content: space-between;
}

.footer-caption {
	color: rgba(0, 0, 0, 0.80);
	font-family: Gotham Pro, sans-serif;
	font-size: 25px;
	line-height: 84.5%;
}

.footer-nav__caption {
	margin-bottom: 18px;
}

.footer-nav__item {
	color: #000;
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	line-height: 72%;
}

.footer-nav__item:not(:last-child) {
	margin-bottom: 18px;
}

.footer-seo {
	max-width: 50%;
}

.footer-seo__caption {
	text-align: center;
	margin-bottom: 20px;
}

.footer-seo__taps {
	display: flex;
	flex-wrap: wrap;
}

.footer-seo__taps-tag {
	max-width: 300px;
	display: flex;
	align-items: center;
	border-radius: 25px;
	margin-bottom: 7px;
}

.footer-seo__taps-tag:not(last-child) {
	margin-right: 7px;
}

.footer-seo__taps-tag-text {
	color: #000;
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	line-height: 72%;
}

.footer-seo__taps-tag_pur {
	padding: 18px 65px 18px 65px;
	background: rgba(115, 46, 133, 0.50);
}

.footer-seo__taps-tag_gr {
	padding: 18px 31px 18px 41px;
	background: rgba(124, 153, 204, 0.50);
}

.footer-seo__taps-tag_bl {
	padding: 18px 31px 18px 41px;
	background: rgba(97, 196, 233, 0.50);
}

.footer-seo__taps-tag_gre {
	padding: 18px 43px 18px 56px;
	background: rgba(25, 124, 124, 0.50);
}

.footer-seo__taps-tag_aq {
	padding: 18px 55px 18px 101px;
	background: rgba(34, 186, 186, 0.50);
}

.footer-contacts__items {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.footer-contacts__caption {
	text-align: end;
	margin-bottom: 22px;
}

.footer-contacts__item {
	color: rgba(0, 0, 0, 0.80);
	text-align: center;
	font-family: Gotham Pro, sans-serif;
	font-size: 25px;
	line-height: 72%;
}

.footer-contacts__email {
	letter-spacing: 0.25px;
	margin-bottom: 17px;
}

.footer-contacts__phone {
	letter-spacing: -2.5px;
	margin-bottom: 21px;
}

.footer-contacts__call {
	margin-bottom: 26px;
}

.footer-contacts__call-btn {
	padding: 6px 18px 7px 16px;
	border-radius: 5px;
	background: linear-gradient(354deg, #1B978A -63.14%, #20B3B0 59.44%);
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.50);
	border: none;
	color: #FFF;
	font-size: 15px;
	line-height: 100.5%;
}

.footer-contacts__socials {
	display: flex;
}

.footer-contacts__socials-icon-vk {
	background: url("./img/vk-icon.svg") center no-repeat;
	min-width: 35px;
	min-height: 38px;
	background-size: contain;
}

.footer-contacts__socials-icon-ws {
	background: url("./img/wat-icon.svg") center no-repeat;
	min-width: 36px;
	min-height: 37px;
}

.footer__mob {
	display: none;
}

.footer-bottom {
	padding: 24px 0 27px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-bottom__item {
	display: flex;
}

.footer-bottom__logo {
	width: 81px;
	height: 75px;
	margin-right: 8px;
}

.footer-bottom__company {
	padding-top: 16px;
}

.footer-bottom__item_text {
	max-width: 250px;
	flex-direction: column;
	color: #000;
	text-align: right;
	font-family: Montserrat, sans-serif;
	font-size: 15px;
	letter-spacing: -0.675px;
}

.footer-bottom__soglashenie {
	text-decoration-line: underline;
}

.overlay {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.47);
	margin: 0;
	overflow: auto;
	height: 100%;
	box-shadow: none;
	overflow-x: hidden;
	z-index: 100;
}

.overlay--open {
	display: block;
}

body .overlay--open {
	overflow-y: hidden;
}

.modal {
	visibility: hidden;
	width: 578px;
	box-sizing: border-box;
	padding: 35px 42px 28px 42px;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0px 0px 18px 9px rgba(0, 0, 0, 0.25);
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	top: 98px;
	z-index: 101;
}

.modal__title {
	color: #000;
	font-family: Tenor Sans, sans-serif;
	font-size: 45px;
	line-height: 84.5%;
	margin-bottom: 21px;
}

.modal-form__data {
	margin-bottom: 10px;
}

.modal-form__data:last-child {
	margin-bottom: 20px;
}

.modal-form__label {
	display: block;
	color: rgba(0, 0, 0, 0.30);
	font-size: 18px;
	text-align: left;
	margin-bottom: 7px;
}

.modal-form__input {
	display: block;
	width: 100%;
	padding: 8px 10px 10px 14px;
	border-radius: 5px;
	border: 1px solid rgba(121, 121, 121, 0.20);
	background-color: rgba(245, 247, 255, 0.50);
	color: rgba(0, 0, 0, 0.75);
	font-size: 15px;
}

.modal-form__data-password {
	position: relative;
}

.modal-form__password-eye {
	width: 22px;
	height: 22px;
	position: absolute;
	bottom: 9px;
	right: 10px;
	border: none;
	background-color: rgba(245, 247, 255, 0.50);
}

.show--password {
	background: url("./img/close-eye.svg") no-repeat;
}

.close--password {
	background: url("./img/open-eye.svg") no-repeat;
}

.modal-form__captcha {
	width: 283px;
	height: 61px;
	margin-bottom: 46px;
	border: 1px solid rgba(121, 121, 121, 0.20);
}

.modal-form__btn {
	width: 90%;
	display: block;
	padding: 14px 10px 15px;
	border-radius: 10px;
	border: 2px solid #22BABA;
	box-shadow: 0px 0px 10px 0px #22BABA;
	color: #22BABA;
	font-size: 25px;
	font-weight: 700;
	border: none;
	margin: 0 auto 22px auto;
}

.modal-form__btn:hover {
	background: linear-gradient(89deg, #21B6B5 10.06%, #1B9589 80.72%);
	color: #FFF;
}

.modal-form__info {
	padding: 0 15px 0 15px;
	color: rgba(0, 0, 0, 0.50);
	text-align: center;
	font-family: Montserrat, sans-serif;
	font-size: 18px;
	line-height: 109.9%;
	letter-spacing: -0.27px;
	margin-bottom: 17px;
}

.modal-form__info-link {
	color: #4C85D6;
	line-height: 109.9%;
	letter-spacing: -0.27px;
	text-decoration-line: underline;
}

.modal-form__socials {
	display: flex;
	justify-content: center;
}

.modal-form__socials-icon {
	width: 57px;
	height: 61px;
}

.modal-form__socials-icon_mr {
	margin-right: 9px;
}

.modal-auth__checkbox {
	color: rgba(0, 0, 0, 0.55);
	font-size: 18px;
	margin-bottom: 37px;
}

.modal-auth__checkbox input[type="checkbox"] {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.modal-auth-checkbox+label {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.modal-auth-checkbox+label:before {
	content: "";
	display: inline-block;
	position: relative;
	width: 19px;
	height: 19px;
	flex-shrink: 0;
	flex-grow: 0;
	border-radius: 5px;
	border: 1px solid rgba(121, 121, 121, 0.50);
	background-color: #FFF;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}

.modal-auth-checkbox:checked+label:before {
	background: url("./img/checked-reviews.svg") no-repeat;
}

.modal-form__link {
	display: flex;
	justify-content: center;
}

.modal-form__link-mb {
	color: rgba(76, 133, 214, 0.70);
	text-align: center;
	font-family: Montserrat, sans-serif;
	font-size: 15px;
	line-height: 109.9%;
	letter-spacing: -0.225px;
	border: none;
	background-color: #fff;
}

.modal-form__link-mb:hover {
	text-decoration-line: underline;
}

.modal-form__link-mb_a {
	margin-bottom: 7px;
}

.modal-form__link-mb_b {
	margin-bottom: 75px;
}

.modal--open {
	visibility: visible;
}

.unauthorized-user {
	display: none;
}

@media (max-width: 1920px) {
	.wrap {
		padding: 0 37px;
	}

	.company-title {
		font-size: 16px;
		letter-spacing: -1.12px;
		margin-bottom: 5px;
	}

	.company-slogan {
		font-size: 13px;
		letter-spacing: -0.91px;
	}

	.header-menu {
		padding-right: 37px;
		font-size: 15px;
	}

	.header-menu__reg {
		padding: 15px 0 17px 0;
	}

	.header-menu__auth {
		padding: 15px 29px 17px 29px;
	}

	.header-block__search {
		min-width: 45%;
	}

	.header-block {
		padding: 13px 0 14px 0;
		font-size: 14px;
	}

	.header-block__logo {
		width: 54px;
		height: 50px;
		margin-right: 13px;
	}

	.header-block__search {
		margin-right: 20px;
	}

	.header-block__search-input {
		padding: 22px 0 21px 27px;
		font-size: 18px;
	}

	.header-block__search-icon {
		right: 25px;
		top: 21px;
		min-width: 16.5px;
		min-height: 16.5px;
	}

	.header-block__location {
		margin-right: 30px;
	}

	.header-block__location-city {
		margin-bottom: 12px;
	}

	.header-block__location-city-desc {
		letter-spacing: -0.98px;
		margin-right: 8px;
	}

	.header-block__location-phone-num {
		letter-spacing: -1.4px;
		margin-right: 9px;
	}

	.header-block__compare {
		margin-right: 20px;
	}

	.header-block__compare-icons {
		margin-right: 6px;
	}

	.header-block__compare-icons_favourites {
		background-image: url("./img/favourite-table.svg");
		min-width: 16px;
		min-height: 14px;
		margin-bottom: 6px;
	}

	.header-block__compare-icons_comparison {
		background-image: url("./img/comparison-table.svg");
		min-width: 19px;
		min-height: 19px;
	}

	.header-block__compare-count {
		font-size: 14px;
		letter-spacing: -0.98px;
	}

	.header-block__cart-btn {
		min-width: 56px;
		min-height: 56px;
		background: url("./img/cart-table.svg") center no-repeat;
		margin-right: 13px;
	}

	.header-block__cart-button-count {
		min-width: 17px;
		min-height: 18px;
		top: -3px;
	}

	.header-block__cart-button-num {
		font-size: 12px;
		letter-spacing: -0.84px;
	}

	.header-block__cart-desc-name {
		font-size: 14px;
		margin-bottom: 8px;
	}

	.footer-bottom__logo {
		width: 72px;
		height: 66px;
	}
}

@media (max-width:1700px) {
	.footer-top {
		padding: 25px 0 25px 0;
	}

	.footer-nav__caption {
		margin-bottom: 14px;
	}

	.footer-nav__item:not(:last-child) {
		margin-bottom: 14px;
	}

	.footer-seo__caption {
		margin-bottom: 16px;
	}

	.footer-seo__taps-tag_pur {
		padding: 15px 55px 15px 49px;
	}

	.footer-seo__taps-tag_gr {
		padding: 15px 24px 15px 29px;
	}

	.footer-seo__taps-tag_bl {
		padding: 15px 25px 15px 28px;
	}

	.footer-seo__taps-tag_gre {
		padding: 15px 36px 15px 41px;
	}

	.footer-seo__taps-tag_aq {
		padding: 15px 87px 15px 90px;
	}

	.footer-contacts__email {
		margin-bottom: 12px;
	}

	.footer-contacts__phone {
		margin-bottom: 18px;
	}

	.footer-contacts__call {
		margin-bottom: 15px;
	}

	.footer-contacts__call-btn {
		padding: 6px 21px 10px 23px;
		font-size: 20px;
	}

	.footer-bottom {
		padding: 22px 0 17px 0;
	}

	.footer-bottom__logo {
		max-width: 72px;
	}

	.footer-bottom__item_text {
		max-width: 420px;
	}
}

@media (max-width:1640px) {
	.header-block__search {
		min-width: 40%;
	}
}

@media (max-width:1520px) {
	.header-block__search {
		min-width: 37%;
	}
}

@media (max-width: 1443px) {
	.wrap {
		padding: 0 15px;
	}

	.header-menu {
		font-size: 12px;
	}

	.header-menu__reg {
		padding: 17px 0 17px 0;
	}

	.header-menu__auth {
		padding: 17px 29px 17px 29px;
	}

	.header-block {
		display: grid;
		grid-template-rows: 60px 15px 60px;
		grid-template-columns: 60px 210px 1fr 1fr;
		grid-template-areas: "logo logo. . location compare cart"
			". . . . . . ."
			". search search search search search .";
	}

	.header-block__left {
		grid-area: logo;
	}

	.header-block__search {
		grid-area: search;
		min-width: 70%;
	}

	.header-block__location {
		grid-area: location;
	}

	.header-block__compare {
		grid-area: compare;
	}

	.header-block__cart {
		grid-area: cart;
	}

	.header-block__cart-button-num {
		top: 7px;
	}

	.modal {
		width: 436px;
		padding: 26px 32px 20px 32px;
		border-radius: 5px;
		top: 72px;
	}

	.modal__title {
		font-size: 40px;
		margin-bottom: 10px;
	}

	.modal-form__label {
		font-size: 16px;
		margin-bottom: 5px;
	}

	.modal-form__input {
		padding: 4px 10px 5px 11px;
	}

	.modal-form__data {
		margin-bottom: 8px;
	}

	.modal-form__captcha {
		width: 213px;
		height: 45px;
		margin-bottom: 35px;
	}

	.modal-form__btn {
		padding: 7px 10px 8px;
		margin-bottom: 8px;
	}

	.modal-form__info {
		margin-bottom: 7px;
	}

	.modal-form__socials-icon {
		width: 43px;
		height: 46px;
		background-size: contain;
	}

	.modal-form__checkbox-input+label::before {
		width: 14px;
		height: 14px;
		margin-right: 10px;
	}

	.modal-form__info-auth {
		font-size: 16px;
	}

	.modal-form__password-eye {
		bottom: 3px;
	}
}

@media (max-width:1300px) {
	.footer-top {
		padding: 14px 0 18px 0;
	}

	.footer-caption {
		font-size: 20px;
	}

	.footer-nav__caption {
		margin-bottom: 10px;
	}

	.footer-nav__item {
		font-size: 16px;
	}

	.footer-nav__item:not(:last-child) {
		margin-bottom: 7px;
	}

	.footer-seo__caption {
		margin-bottom: 10px;
	}

	.footer-seo__taps-tag_pur {
		padding: 10px 35px 10px 28px;
	}

	.footer-seo__taps-tag_gr {
		padding: 10px 14px 10px 19px;
	}

	.footer-seo__taps-tag_bl {
		padding: 10px 15px 10px 18px;
	}

	.footer-seo__taps-tag_gre {
		padding: 10px 26px 10px 31px;
	}

	.footer-seo__taps-tag_aq {
		padding: 10px 58px 10px 72px;
	}

	.footer-seo__taps-tag-text {
		font-size: 14px;
	}

	.footer-contacts__item {
		font-size: 16px;
	}

	.footer-contacts__email {
		margin-bottom: 9px;
	}

	.footer-contacts__phone {
		margin-bottom: 15px;
	}

	.footer-contacts__call-btn {
		padding: 6px 16px 10px 16px;
		font-size: 16px;
	}
}

@media (max-width: 1010px) {
	header {
		border-bottom: none;
		box-shadow: none;
	}

	.header-menu {
		display: none;
	}

	.header-menu__mob {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 10px;
		margin-bottom: 7px;
	}

	.header-menu__mob-company {
		display: flex;
		align-items: center;
	}

	.header-menu__mob-logo {
		width: 30px;
		height: 27px;
		margin-right: 10px;
	}

	.header-menu__mob-td {
		font-family: Gotham Pro, sans-serif;
		font-size: 17px;
		font-style: normal;
		font-weight: 400;
		line-height: 84.5%;
		letter-spacing: -1.05px;
		background: linear-gradient(90deg, #1B9183 15.52%, #22BABA 57.07%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.header-menu__mob-phone {
		color: #000;
		font-family: Lato, sans-serif;
		font-size: 12px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.18px;
	}

	.header-block {
		display: none;
	}

	.header-block__mob {
		display: block;
		position: relative;
		margin-bottom: 15px;
	}

	.header-block__mob-search {
		width: 100%;
		padding: 9px 11px 9px 13px;
		border-radius: 5px;
		border: 1px solid rgba(121, 121, 121, 0.20);
		background: rgba(0, 0, 0, 0.02);
		color: rgba(0, 0, 0, 0.40);
		font-family: Lato, sans-serif;
		font-size: 10px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		letter-spacing: 0.25px;
	}

	.header-block__mob-s-icon {
		position: absolute;
		right: 11px;
		top: 9px;
		display: inline-block;
		background: url("./img/search.svg") 50% / cover no-repeat;
		min-width: 13px;
		min-height: 13px;
		border: none;
	}

	.footer-top {
		padding: 14px 0 0 0;
		background-color: #FFF;
	}

	.footer__block {
		display: none;
	}

	.footer-line {
		display: block;
		border: 1px solid rgba(0, 0, 0, 0.30);
	}

	.footer__mob {
		padding-top: 14px;
		display: block;
		margin-bottom: 18px;
	}

	.footer__mob-menu-items {
		margin-bottom: 19px;
	}

	.footer__mob-menu-item {
		color: rgba(0, 0, 0, 0.70);
		font-family: Lato, sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.footer__mob-menu-item:not(:last-child) {
		margin-bottom: 6px;
	}

	.modal {
		width: 360px;
		padding: 20px 26px 19px 26px;
		top: 31px;
	}

	.modal__title {
		font-size: 25px;
	}

	.modal-form__label {
		font-size: 15px;
		margin-bottom: 1px;
	}

	.modal-form__input {
		padding: 2px 9px 2px 9px;
	}

	.modal-form__data {
		margin-bottom: 4px;
	}

	.modal-form__password-eye {
		width: 14px;
		height: 14px;
		bottom: 5px;
		background-size: contain;
	}

	.modal-form__captcha {
		width: 100%;
		margin-bottom: 26px;
	}

	.modal-form__btn {
		display: block;
		padding: 14px 10px 15px;
		font-size: 20px;
		margin: 0 auto 12px auto;
	}

	.modal-form__info {
		padding: 0 0;
		font-size: 14px;
	}

	.modal-form__socials-icon {
		width: 35px;
		height: 38px;
	}

	.modal-form__checkbox-label {
		font-size: 15px;
	}

	.modal-form__checkbox-input+label::before {
		width: 16px;
		height: 16px;
		margin-right: 4px;
	}

	.modal-form__link-mb {
		width: 100%;
	}

	.modal-form__link-mb_b {
		margin-bottom: 25px;
	}

	.footer__mob-location {
		border: none;
		background-color: transparent;
		color: #22BABA;
		text-decoration: underline;
		margin-bottom: 14px;
	}

	.footer__mob-location-desc {
		color: #000;
		margin-right: 5px;
	}

	.footer-block__location-city-select {
		display: block;
		position: absolute;
		bottom: 110px;
		left: 165px;
		min-width: 100px;
		max-width: 300px;
		padding: 10px;
		background-color: #FFF;
		border-radius: 6px;
		box-shadow: 0 0 30px 30px rgb(154 161 177 / 15%), 0 4px 70px -8px rgb(36 40 47 / 25%), 0 4px 4px -2px rgb(91 94 105 / 15%);
		z-index: 1;
		opacity: 1.06;
		color: rgba(0, 0, 0, 0.80);
		font-size: 13px;
	}

	.footer-block__location-city-select:before {
		content: "";
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		border-right: 0;
		bottom: -5px;
		left: 5px;
		border-bottom: 12px solid transparent;
		border-right: 12px solid #fff;
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	}

	.footer-select-city__confirmation {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 15px;
	}

	.footer-select-city__info {
		line-height: 20px;
	}

	.footer-select-city__info_font {
		font-weight: 600;
		margin-bottom: 15px;
	}

	.footer-select-city__confirm,
	.footer-select-city__title {
		padding: 10px;
		border-radius: 4px;
		border: none;
		background-color: rgba(34, 186, 186, 0.50);
	}

	.footer-select-city {
		display: none;
		opacity: 0;
	}

	.footer__mob-copyrights {
		color: #000;
		font-family: Montserrat, sans-serif;
		font-size: 15px;
		letter-spacing: -0.675px;
	}

	.footer__mob-soglashenie {
		width: 70%;
		color: #000;
		font-family: Montserrat, sans-serif;
		font-size: 15px;
		letter-spacing: -0.675px;
		text-decoration: underline;
	}

	.footer-bottom {
		display: none;
	}

	.footer__mob-bottom {
		display: flex;
		justify-content: space-between;
		align-items: end;
	}

	.footer__mob-bottom-socials {
		display: flex;
	}
}

@media (max-width: 472px) {
	.footer-block__location-city-select {
		bottom: 125px;
	}
}