@import url('./fonts/gothampro_medium.ttf');

html {
	position: relative;
	box-sizing: border-box;
	overflow: scroll;
	overflow-x: scroll;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	min-width: 320px;
	min-height: 100vh;
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	overflow: auto;
}

img,
svg {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

button {
	padding: 0;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
p,
figure,
fieldset {
	margin: 0;
}

iframe {
	border: none;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

.container-block {
	max-width: 1920px;
	margin: 0 auto;
}

.wrap {
	padding: 0 190px;
}

.wrap-content {
	padding-top: 25px;
}

.breadcrumbs {
	margin-bottom: 21px;
}

.breadcrumbs__items {
	display: flex;
	color: rgba(0, 0, 0, 0.30);
	font-size: 16px;
}

.breadcrumbs__item_not-active:after {
	content: "/";
	padding-left: 9px;
	margin-right: 6px;
}

.breadcrumbs__item_active {
	color: rgba(0, 0, 0, 0.70);
}

.general-section {
	margin-bottom: 34px;
}

.main-title {
	color: #000;
	font-family: Tenor Sans, sans-serif;
	font-size: 35px;
	line-height: 84.5%;
	letter-spacing: 0.525px;
	margin-bottom: 28px;
}

.page-content {
	display: grid;
	grid-template-columns: 355px 1fr;
	grid-template-rows: 272px 242px 1fr;
	grid-template-areas: "nav assort"
		"not assort"
		". assort";
}

.page-content__nav {
	grid-area: nav;
	padding: 16px 15px 1px 15px;
	border-radius: 10px;
	background-color: #FFF;
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15);
	margin: 0 40px 55px 0;
}

.page-content__nav-item {
	padding: 13px 30px 16px 30px;
	border-radius: 10px;
	background-color: #F1F2F4;
	color: #3A3A3A;
	font-size: 20px;
	font-weight: 500;
}

.page-content__nav-item:hover,
.nav-item-active {
	background: linear-gradient(88deg, #20B2B0 2.18%, #1B968B 100%);
	color: #FFF;
	font-weight: 700;
}

.page-content__nav-item {
	margin-bottom: 15px;
}

.page-content__notifications {
	grid-area: not;
	padding: 17px 15px 15px 15px;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15);
	margin-right: 40px;
}

.page-content__notifications-title {
	color: #000;
	font-family: Montserrat, sans-serif;
	font-size: 23px;
	font-weight: 500;
	line-height: 84.5%;
	margin-bottom: 25px;
}

.page-content__notifications-desc {
	color: rgba(0, 0, 0, 0.80);
	font-weight: 600;
	margin-bottom: 27px;
}

.page-content__notifications-checkbox {
	display: flex;
	color: #423D3D;
	font-family: Inter, sans-serif;
	font-size: 15px;
}

.page-content__notifications-checkbox:not(:last-child) {
	margin-bottom: 12px;
}

.page-content__notifications-checkbox input[type="checkbox"] {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.notifications-checkbox+label {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.notifications-checkbox+label:before {
	content: "";
	display: inline-block;
	position: relative;
	width: 19px;
	height: 19px;
	flex-shrink: 0;
	flex-grow: 0;
	border-radius: 5px;
	border: 1px solid rgba(121, 121, 121, 0.50);
	background-color: #FFF;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}

.notifications-checkbox:checked+label:before {
	background: url("./img/checked-reviews.svg") no-repeat;
}

.page-content__assortiment-block {
	grid-area: assort;
	display: flex;
	justify-content: space-between;
}

.page-content__assortiment {
	width: 75%;
	margin-right: 36px;
}

.page-content__assortiment-title {
	color: #000;
	font-family: Montserrat, sans-serif;
	font-size: 30px;
	font-weight: 500;
	line-height: 84.5%;
	margin-bottom: 14px;
}

.page-content__user-profile-subtitle {
	color: rgba(0, 0, 0, 0.90);
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 6px;
}

.page-content__user-select {
	padding: 13px;
	color: rgba(0, 0, 0, 0.50);
	font-weight: 300;
	letter-spacing: 0.4px;
	border-radius: 5px;
	border: 1px solid rgba(121, 121, 121, 0.20);
	background: rgba(0, 0, 0, 0.02);
	margin-bottom: 18px;
}

.page-content__assortiment-btn {
	padding: 8px 28px 10px 28px;
	border-radius: 10px;
	background: #FFF;
	font-size: 18px;
	font-weight: 700;
}

.accept-btn {
	border: 1px solid #1DA49C;
	box-shadow: 0px 0px 10px -1px #1DA49C;
	color: #1DA49C;
}

.accept-btn:hover {
	background: linear-gradient(88deg, #20B2B0 2.18%, #1B968B 100%);
	color: #FFF;
}

.print-btn {
	border: 1px solid rgba(0, 0, 0, 0.50);
	color: rgba(0, 0, 0, 0.50);
}

.page-content__assortiment-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 27px;
}

.goods__view-block {
	display: flex;
	align-items: center;
}

.goods__view-title {
	color: #000;
	font-size: 20px;
	margin-right: 13px;
}

.goods-row {
	display: none;
}

.goods__view {
	display: flex;
	align-items: center;
	background-color: #FFF;
	border: none;
}

.view-cell {
	margin-right: 17px;
}

.goods__view-btn {
	width: 22px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5px;
}

.goods__view-btn:hover,
.view-btn-active {
	border: 1px solid rgba(29, 164, 156, 0.60);
}

.view-btn-img {
	width: 16px;
	height: 16px;
}

.goods__view-desc {
	color: rgba(0, 0, 0, 0.70);
	font-family: Inter, sans-serif;
	margin-top: 3px;
}

.goods__view-desc:hover {
	color: #000;
	font-weight: 600;
}

.view-desc-active {
	color: #000;
	font-weight: 600;
}

.good-item {
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.30);
	margin-bottom: 20px;
}

.good-card {
	padding: 18px;
	display: grid;
	grid-template-columns: 177px 118px 113px 1fr 140px;
	grid-template-rows: 1fr 42px 36px;
	grid-template-areas: "imgs content content content btns"
		"imgs units units . link"
		"imgs units units . link";
}

.good-image {
	grid-area: imgs;
	width: 149px;
	height: 142px;
	padding: 20px;
	position: relative;
	border-radius: 5px;
	background-color: #FFF;
	box-shadow: 0px 0px 8px -2px #000;
	margin-right: 20px;
}

.good-img {
	width: 100px;
	height: 100px;
	background-size: contain;
}

.good-desc {
	grid-area: content;
}

.good-title {
	max-width: 500px;
	color: #000;
	font-size: 25px;
	font-weight: 700;
	line-height: 98%;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin-bottom: 12px;
}

.good-det {
	display: flex;
}

.good-i-article {
	padding-right: 9px;
	border-right: 1px solid rgba(0, 0, 0, 0.50);
	color: rgba(0, 0, 0, 0.30);
	font-size: 15px;
	margin: 0 9px 7px 0;
}

.good-available {
	font-size: 15px;
}

.available-true {
	color: rgba(5, 255, 0, 0.70);
}

.available-false {
	color: rgba(255, 0, 0, 0.87);
}

.available-limited {
	color: rgba(255, 138, 0, 0.70);
}

.good-reviews {
	grid-area: reviews;
	display: flex;
	align-items: center;
	margin-bottom: 6px;
}

.good-reviews-img {
	display: inline-block;
}

.reviews-img {
	width: 14px;
	height: 13px;
	background: url('./img/star-blue.svg') no-repeat;
	background-size: contain;
}

.reviews-img:last-child {
	margin-right: 8px;
}

.good-reviews-text {
	color: #87ABDD;
	font-size: 15px;
	font-weight: 500;
}

.good-reviews-text:hover {
	color: #327BDF;
	font-weight: 600;
}

.units-title {
	color: rgba(0, 0, 0, 0.90);
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 3px;
}

.units {
	grid-area: units;
	display: grid;
	grid-template-columns: 118px 120px;
	grid-template-rows: 37px 5px 37px;
	grid-template-areas: "unit price"
		". ."
		"pack counts";
	color: rgba(0, 0, 0, 0.70);
	font-size: 15px;
	margin-right: 7px;
}

.units-unit {
	grid-area: unit;
}

.units-pack {
	grid-area: pack;
}


.units-qt {
	display: flex;
}

.units-item input[type="checkbox"] {
	display: none;
}

.units-item {
	display: inline-block;
	min-width: 113px;
	padding: 10px 25px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.20);
	border-radius: 6px;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	transition: all .2s;
	color: rgba(0, 0, 0, 0.30);
	text-align: center;
	margin-right: 5px;
}

.units-item:hover,
.units-item:focus {
	border: 1px solid #22BABA;
	background-color: #F5F7FF;
	box-shadow: 0px 0px 11px 1px rgba(34, 186, 186, 0.25) inset;
	color: rgba(0, 0, 0, 0.70);
}

.price {
	grid-area: price;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #D72853;
	font-size: 20px;
	font-weight: 700;
}

.qt {
	grid-area: counts;
	max-width: 120px;
	max-height: 36px;
	display: flex;
	align-items: center;
	border-radius: 6px;
	border: 1px solid rgba(0, 0, 0, 0.20);
	background-color: #FFF;
	color: #000;
	font-size: 18px;
	font-weight: 600;
}

.qt-count {
	max-width: 52px;
	padding: 0 5px;
	border: none;
	border-left: 1px solid rgba(0, 0, 0, 0.20);
	border-right: 1px solid rgba(0, 0, 0, 0.20);
	text-align: center;
}

.qt-btn {
	padding: 3px 13px 3px 13px;
	font-size: 18px;
}

.good-icons {
	grid-area: btns;
	height: 25px;
	display: flex;
	justify-self: end;
}

.good-icon {
	width: 30px;
	height: 25px;
	border: none;
}

.good-compare {
	background: url("./img/compare-icon-gray.svg") no-repeat;
	background-position: 0 -2px;
}

.good-compare:hover,
.good-compare-added {
	background: url("./img/compare-icon-blue.svg") no-repeat;
	background-position: 0 -2px;
}

.good-favour {
	background: url("./img/favour-icon-gray.svg") no-repeat;
	background-position: 0 4px;
}

.good-favour:hover,
.good-favour-added {
	background: url("./img/favour-icon-red.svg") no-repeat;
	background-position: 0 2px;
}

.good-delete {
	background: url("./img/delete-icon-gray.svg") no-repeat;
	background-position: 0 6px;
}

.good-delete:hover {
	background: url("./img/delete-icon-red.svg") no-repeat;
	background-position: 0 6px;
}

.links {
	grid-area: link;
}

.good-link {
	display: flex;
	justify-content: end;
}

.good-page-link {
	width: 140px;
	height: 36px;
	padding: 9px 30px;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.30);
	color: rgba(0, 0, 0, 0.30);
	font-weight: 500;
	text-align: center;
	margin-bottom: 5px;
}

.cart-link {
	width: 140px;
	padding: 8px 23px;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.30);
	background-color: #fff;
	color: rgba(0, 0, 0, 0.30);
	font-weight: 500;
}

.good-page-link:hover,
.cart-link:hover {
	background: linear-gradient(89deg, #20B3B1 3.95%, #1B9589 102.54%);
	color: #FFF;
	font-size: 15px;
	font-weight: 700;
	border: none;
}

.goods-cell {
	display: none;
}

.goods-cell__block {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.good-cell-item {
	max-height: 487px;
	margin: 0 15px 15px 0;
}

.good-cell-item:hover {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.60);
}

.good-cell-card {
	width: 218px;
	padding: 10px 13px 13px 19px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 167px 135px 1fr;
	grid-template-areas: "imgs"
		"content"
		"footer";
	position: relative;
}

.good-icons-cell {
	height: 24px;
	justify-content: space-between;
	position: absolute;
	top: 9px;
	right: 17px;
}

.good-icon-cell {
	width: 23px;
	height: 24px;
}

.good-icon-cell:not(:last-child) {
	margin-right: 6px;
}

.good-delete-cell {
	background: url("./img/delete-icon-gray.svg") no-repeat;
	background-position: 0 4px;
}

.good-delete-cell:hover {
	background: url("./img/delete-icon-red.svg") no-repeat;
	background-position: 0 4px;
}

.good-image-cell {
	width: 182px;
	height: 168px;
	padding: 10px 18px 9px 23px;
	background-color: #FFF;
	box-shadow: none;
	margin: 0 0 9px 0;
}

.good-img-cell {
	width: 141px;
	height: 149px;
}

.good-i-article-cell {
	padding-right: 0;
	border-right: none;
	font-size: 11px;
	margin-bottom: 8px;
}

.good-reviews-cell {
	margin-bottom: 12px;
}

.good-reviews-text-cell {
	font-size: 12px;
	font-weight: 600;
}

.good-title-cell {
	font-size: 18px;
	font-weight: 700;
	line-height: 96.5%;
	-webkit-line-clamp: 4;
	margin-bottom: 0;
}

.good-cell-card__footer {
	/* 	display: none; */
	display: block;
	grid-area: footer;
}

.units-cell {
	display: grid;
	grid-template-columns: 91px 1fr;
	grid-template-rows: 30px 7px 30px;
	grid-template-areas: "unit counts"
		". ."
		"pack price";
	margin-bottom: 7px;
}

.units-item-cell {
	min-width: 0;
	width: 84px;
	padding: 6px 14px;
	font-size: 14px;
	margin: 0 7px 7px 0;
}

.units-item-cell-unit {
	grid-area: unit;
}

.units-item-cell-pack {
	grid-area: pack;
}

.qt-btn-cell {
	padding: 3px 10px 3px 10px;
	font-size: 15px;
}

.qt-count-cell {
	max-width: 33px;
	padding: 0 0;
}

.price-cell {
	align-items: end;
	justify-self: center;
}

.good-link-cell {
	height: 42px;
}

.good-page-link-cell {
	width: 100%;
}

.cart-link-cell {
	width: 100%;
}

.good-available-cell {
	position: absolute;
	left: 19px;
	top: 17px;
	font-size: 13px;
}

.right-block {
	width: 273px;
}

.right-block__in-cart {
	background: #FFF;
	box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.15);
}

.right-block__actions {
	display: flex;
	justify-content: space-between;
	padding: 10px 14px 7px 17px;
	background-color: #FBFBFB;
	box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.25);
	line-height: 88.523%;
}

.right-block__actions-text {
	color: rgba(29, 164, 156, 0.50);
	font-family: Inter, sans-serif;
	line-height: 88.523%;
}

.right-block__actions-text:hover {
	color: #1DA49C;
	font-weight: 500;
}

.clear-cart-btn {
	border: none;
	background-color: #FBFBFB;
	text-align: right;
}

.right-block__good-item {
	padding: 17px 15px 11px 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.right-block__good-card {
	display: grid;
	grid-template-columns: 53px 57px 60px 1fr;
	grid-template-rows: 27px 1fr 23px;
	grid-template-areas: "imgs imgs btns btns"
		"imgs imgs title title"
		"units units qt price";
}

.right-block__good-image {
	grid-area: imgs;
	width: 103px;
	height: 103px;
	padding: 8px;
	border-radius: 5px;
	background: #FFF;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
	margin: 0 9px 7px 0;
}

.right-block__good-img {
	width: 84px;
	height: 83px;
}

.right-block__good-icons {
	grid-area: btns;
	display: grid;
	grid-template-columns: 22px 18px 1fr 18px;
	grid-template-areas: "compare favour . delete";
	margin-bottom: 6px;
}

.right-block__good-icon {
	width: 18px;
	height: 20px;
	border: none;
	background-color: #fff;
}

.right-block__good-compare {
	grid-area: compare;
	background: url("./img/compare-icon-gray.svg") no-repeat;
	background-size: contain;
}

.right-block__good-compare:hover {
	background: url("./img/compare-icon-blue.svg") no-repeat;
	background-size: contain;
}

.right-block__good-favour {
	grid-area: favour;
	width: 16px;
	height: 17px;
	background: url("./img/favour-icon-gray.svg") no-repeat;
	background-size: contain;
	margin-top: 4px;
}

.right-block__good-favour:hover {
	background: url("./img/favour-icon-red.svg") no-repeat;
	background-size: contain;
}

.right-block__good-delete {
	grid-area: delete;
	background: url("./img/delete-icon-gray.svg") no-repeat;
	margin-top: 4px;
}

.right-block__good-delete:hover {
	background: url("./img/delete-icon-red.svg") no-repeat;
}

.right-block__good-title {
	grid-area: title;
	height: 53px;
	color: #000;
	font-size: 14px;
	font-weight: 300;
	line-height: 96%;
	letter-spacing: -0.14px;
	overflow: hidden;
	-webkit-line-clamp: 4;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.right-block__units {
	grid-area: units;
	display: flex;
	justify-content: start;
	color: rgba(0, 0, 0, 0.50);
	font-size: 9px;
	font-weight: 500;
	line-height: 96%;

}

.right-block__units-item input[type="checkbox"] {
	display: none;
}

.right-block__units-item {
	display: inline-block;
	width: 50px;
	padding: 4px 5px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.40);
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	transition: all .2s;
	color: rgba(0, 0, 0, 0.30);
	text-align: center;
	margin: 3px 5px 3px 0;
}

.right-block__units-item:hover,
.right-block__units-item:focus {
	border: 1px solid #1DA49C;
	box-shadow: 0px 0px 4px 0px #1DA49C;
	color: #000;
}

.right-block__qt {
	grid-area: qt;
	display: flex;
	align-items: center;
	max-width: 52px;
	max-height: 18px;
	border-radius: 3px;
	background-color: #FFF;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.40);
	color: #000;
	font-size: 9px;
	font-weight: 600;
	line-height: 96%;
	letter-spacing: -0.09px;
	margin-top: 3px;
}

.right-block__qt-btn {
	padding: 4px 5px;
}

.right-block__qt-count {
	max-width: 24px;
	text-align: center;
	border: none;
}

.right-block__price {
	grid-area: price;
	align-self: center;
	color: #E63232;
	font-size: 17px;
	font-weight: 700;
}

.right-block__order {
	padding: 13px 5px 13px 20px;
	display: flex;
	background-color: #FFF;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

.right-block__order-text {
	color: #000;
	font-family: Inter, sans-serif;
	font-size: 20px;
	font-weight: 500;
	margin-right: 7px;
}

.right-block__order-price {
	color: #E63232;
	font-size: 20px;
	font-weight: 500;
}

.view--active {
	display: block;
}

.good-reviews,
.units-title,
.unauthorized-user {
	display: none;
}

@media (max-width: 1921px) {
	.wrap {
		padding: 0 37px;
	}

	.good-cell-item {
		margin: 0 15px 15px 0;
	}

	.page-content__assortiment-row {
		justify-content: start;
		flex-wrap: wrap;
		margin-bottom: 12px;
	}

	.page-content__assortiment-btn {
		margin: 0 20px 10px 0;
	}

	.good-title {
		font-size: 20px;
	}
}

@media (max-width: 1530px) {
	.good-card {
		padding: 14px 20px 17px 18px;
		grid-template-columns: 172px 208px 128px 1fr 124px;
	}

	.good-image {
		width: 154px;
		height: 147px;
		padding: 20px 9px;
		margin-right: 18px;
	}

	.good-title {
		max-width: 400px;
		color: #000;
		font-size: 20px;
		margin-bottom: 10px;
	}

	.good-i-article {
		margin-bottom: 4px;
	}

	.reviews-img {
		width: 12px;
		height: 12px;
	}

	.units-item {
		min-width: 100px;
		padding: 8px 18px;
		margin-right: 4px;
	}

	.qt {
		max-width: 120px;
	}

	.good-page-link {
		width: 124px;
		height: 36px;
		padding: 6px 10px;
		margin-bottom: 4px;
		text-align: center;
	}

	.good-icon {
		width: 28px;
		height: 28px;
	}

	.right-block__good-card {
		grid-template-columns: 47px 51px 60px 1fr;
	}

	.right-block__actions {
		padding: 8px 12px 7px 15px;
	}

	.right-block__good-item {
		padding: 15px 13px 10px 17px;
	}

	.right-block__good-image {
		width: 92px;
		height: 92px;
		padding: 8px;
		margin: 0 8px 6px 0;
	}

	.right-block__units {
		font-size: 8px;
		letter-spacing: -0.08px;
	}

	.right-block__units-item {
		width: 44px;
		margin: 3px 3px 3px 0;
	}

	.right-block__qt {
		max-height: 16px;
	}

	.right-block__order {
		padding: 10px 7px 12px 16px;
	}

	.right-block__order-text {
		font-size: 18px;
	}

	.right-block__order-price {
		font-size: 18px;
	}

	.section-desc {
		font-size: 15px;
	}

	.good-cell-card {
		width: 195px;
		grid-template-columns: 1fr;
		grid-template-rows: 135px 152px 1fr;
	}

	.good-title-cell {
		max-width: 163px;
		max-height: 60px;
		font-size: 15px;
	}

	.good-image-cell {
		width: 166px;
		height: 168px;
	}

	.good-img-cell {
		width: 126px;
		height: 151px;
	}

	.good-icon-cell {
		width: 20px;
		height: 21px;
	}

	.good-favour {
		background-position: 0 2px;
	}

	.good-favour:hover,
	.good-favour-added {
		background-position: -1px 2px;
	}

	.good-i-article-cell {
		font-size: 9px;
	}

	.good-reviews-text-cell {
		font-size: 10px;
	}

	.units-cell {
		grid-template-columns: 79px 1fr;
		grid-template-rows: 25px 6px 25px;
	}

	.units-item-cell {
		min-width: 0;
		width: 75px;
		padding: 4px 1px;
		font-size: 13px;
	}

	.qt-cell {
		max-width: 80px;
		max-height: 25px;
		font-size: 15px;
	}

	.qt-count-cell {
		max-width: 28px;
	}

	.good-page-link-cell {
		width: 159px;
		height: 33px;
	}

	.good-link-cell {
		justify-content: flex-start;
	}

	.cart-link-cell {
		width: 159px;
	}
}

@media (max-width: 1010px) {
	.wrap-content {
		padding-top: 5px;
	}

	.breadcrumbs {
		display: none;
	}
}

@media (max-width: 950px) {
	.page-content {
		grid-template-columns: 1fr;
		grid-template-areas: "nav"
			"assort"
			"not";
	}

	.main-title {
		font-size: 20px;
		letter-spacing: 0.3px;
		margin-bottom: 17px;
	}

	.page-content__nav {
		padding: 11px 17px 8px 17px;
		text-align: center;
		margin: 0 0 25px 0;
	}

	.page-content__nav-item {
		margin-bottom: 10px;
	}

	.page-content__assortiment-title {
		font-size: 23px;
		margin-bottom: 10px;
	}

	.page-content__notifications {
		padding: 17px 15px 15px 29px;
		margin-right: 0;
	}

	.page-content__notifications-title {
		margin-bottom: 22px;
	}

	.page-content__notifications-desc {
		font-size: 18px;
	}

	.page-content__assortiment {
		margin-bottom: 25px;
	}

}