.header-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 0 11px 0;
	color: rgba(0, 0, 0, 0.80);
	font-family: Gotham Pro, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 72%;
}

.header-block__logo {
	width: 99px;
	height: 91px;
	margin-right: 5px;
}

.header-block__search {
	min-width: 587px;
	position: relative;
	margin-right: 13px;
}

.header-block__search-input {
	width: 100%;
	padding: 27px 0 28px 27px;
	border-radius: 37.5px;
	border: 1px solid rgba(0, 0, 0, 0.25);
}

.header-block__search-items {
	position: absolute;
	left: 30px;
	top: 23px;
}

.header-block__search-text {
	color: rgba(0, 0, 0, 0.30);
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 72%;
	margin-right: 345px;
}

.header-block__search-icon {
	display: inline-block;
	border: 1px solid palevioletred;
	background-image: url('../img/search.svg'), lightgray 50% / cover no-repeat;
	min-width: 22px;
	min-height: 22px;
}

.header-block__location {
	margin-right: 8px;
}

.header-block__location-city {
	display: flex;
	margin-bottom: 17px;
}

.header-block__location-city-desc {
	letter-spacing: -1.12px;
	margin-right: 10px;
}

.header-block__location-city-name {
	background: linear-gradient(90deg, #22BABA 0%, #22BABA 112.32%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.header-block__location-phone-num {
	letter-spacing: -1.6px;
	margin-right: 12px;
	text-align: left;
}

.header-block__location-phone-call {
	color: #1B9487;
	text-decoration-line: underline;
	border: none;
	background-color: #fff;
	text-align: left;
}

.header-block__compare {
	display: flex;
	margin-right: 19px;
}

.compare-icons {
	display: inline-block;
	background-repeat: no-repeat;
}

.header-block__compare-icons {
	align-items: center;
	margin-right: 7px;
}

.header-block__compare-icons_favourites {
	background-image: url('../img/favourite.svg');
	min-width: 18px;
	min-height: 18px;
	margin-bottom: 10px;
}

.header-block__compare-icons_comparison {
	background-image: url('../img/comparison.svg');
	min-width: 25px;
	min-height: 25px;
}

.header-block__compare-text {
	margin-right: 5px;
}

.header-block__compare-text_favourites {
	padding-top: 4px;
	margin-bottom: 20px;
}

.header-block__compare-icons,
.header-block__compare-text,
.header-block__compare-count {
	display: flex;
	flex-direction: column;
}

.header-block__compare-count {
	color: rgba(0, 0, 0, 0.25);
	text-align: center;
	font-family: PT Sans, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 72%;
	letter-spacing: -1.05px;
}

.header-block__compare-count_favourites {
	padding-top: 5px;
	margin-bottom: 23px;
}

.header-block__cart {
	display: flex;
	align-items: center;
}

.header-block__cart-button {
	position: relative;
}

.header-block__cart-btn {
	min-width: 75px;
	min-height: 75px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.25);
	background: url('../img/cart.svg') center no-repeat;
	margin-right: 9px;
}

.header-block__cart-button-count {
	min-width: 23px;
	min-height: 23px;
	position: absolute;
	right: 7px;
	top: 0;
}

.header-block__cart-button-num {
	position: absolute;
	right: 9px;
	top: 6px;
	color: #FFF;
	font-family: PT Sans, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 72%;
	letter-spacing: -0.98px;
}

.header-block__cart-desc {
	display: flex;
	flex-direction: column;
}

.header-block__cart-desc-name {
	color: rgba(0, 0, 0, 0.35);
	font-size: 12px;
	margin-bottom: 6px;
}

.header-block__cart-desc-sum {
	color: #2C2C2C;
	font-size: 14px;
	font-weight: 700;
}

@media (min-width: 1860px) and (max-width: 1920px) {
	.header-block__search {
		min-width: 700px;
	}

	.header-block__search-text {
		margin-right: 460px;
	}
}

@media (min-width: 1810px) and (max-width: 1860px) {
	.header-block__search {
		min-width: 680px;
	}

	.header-block__search-text {
		margin-right: 440px;
	}
}

@media (min-width: 1760px) and (max-width: 1810px) {
	.header-block__search {
		min-width: 640px;
	}

	.header-block__search-text {
		margin-right: 405px;
	}
}

@media (min-width: 1705px) and (max-width: 1760px) {
	.header-block__search {
		min-width: 590px;
	}

	.header-block__search-text {
		margin-right: 355px;
	}
}

@media (min-width: 1650px) and (max-width: 1705px) {
	.header-block__logo {
		margin-right: 15px;
	}

	.header-block__company {
		margin-right: 10px;
	}

	.header-block__search {
		min-width: 540px;
		margin-right: 25px;
	}

	.header-block__search-text {
		margin-right: 305px;
	}

	.header-block__location {
		margin-right: 25px;
	}

	.header-block__compare {
		margin-right: 20px;
	}

	.header-block__cart-btn {
		margin-right: 10px;
	}
}

@media (min-width: 1610px) and (max-width: 1650px) {
	.header-block__company {
		margin-right: 5px;
	}

	.header-block__search {
		min-width: 530px;
		margin-right: 15px;
	}

	.header-block__search-text {
		margin-right: 295px;
	}
}

@media (min-width: 1550px) and (max-width: 1610px) {
	.header-block__company {
		margin-right: 0;
	}

	.header-block__search {
		min-width: 510px;
		margin-right: 15px;
	}

	.header-block__search-text {
		margin-right: 280px;
	}

	.header-block__location {
		margin-right: 15px;
	}

	.header-block__compare {
		margin-right: 10px;
	}
}

@media (min-width: 1440px) and (max-width: 1550px) {
	.header-block {
		padding: 13px 0 14px 0;
		font-size: 14px;
	}

	.header-block__logo {
		width: 54px;
		height: 50px;
		margin-right: 13px;
	}

	.header-block__search {
		min-width: 500px;
		margin-right: 20px;
	}

	.header-block__search-input {
		padding: 22px 0 21px 27px;
	}

	.header-block__search-text {
		font-size: 18px;
		margin-right: 295px;
	}

	.header-block__search-icon {
		min-width: 16.5px;
		min-height: 16.5px;
	}

	.header-block__location {
		margin-right: 30px;
	}

	.header-block__location-city {
		margin-bottom: 12px;
	}

	.header-block__location-city-desc {
		letter-spacing: -0.98px;
		margin-right: 8px;
	}

	.header-block__location-phone-num {
		letter-spacing: -1.4px;
		margin-right: 9px;
	}

	.header-block__compare {
		margin-right: 20px;
	}

	.header-block__compare-icons {
		margin-right: 6px;
	}

	.header-block__compare-icons_favourites {
		background-image: url('../img/favourite-table.svg');
		min-width: 16px;
		min-height: 14px;
		margin-bottom: 6px;
	}

	.header-block__compare-icons_comparison {
		background-image: url('../img/comparison-table.svg');
		min-width: 19px;
		min-height: 19px;
	}

	.header-block__compare-text_favourites {
		margin-bottom: 13px;
	}

	.header-block__compare-count {
		font-size: 14px;
		letter-spacing: -0.98px;
	}

	.header-block__compare-count_favourites {
		margin-bottom: 13px;
	}

	.header-block__cart-btn {
		min-width: 56px;
		min-height: 56px;
		background: url('../img/cart-table.svg') center no-repeat;
		margin-right: 13px;
	}

	.header-block__cart-button-count {
		min-width: 17px;
		min-height: 18px;
		top: -3px;
	}

	.header-block__cart-button-num {
		font-size: 12px;
		letter-spacing: -0.84px;
	}

	.header-block__cart-desc-name {
		font-size: 14px;
		margin-bottom: 8px;
	}
}