.news {
	padding: 27px 0 20px 0;
}

.news__caption {
	display: flex;
	justify-content: center;
	margin-bottom: 26px;
}

.news__caption-text {
	color: rgba(0, 0, 0, 0.80);
	text-align: center;
	font-family: Gotham Pro, sans-serif;
	font-size: 50px;
	font-style: normal;
	font-weight: 400;
	line-height: 72%;
	margin-right: 13px;
}

.news__block {
	display: flex;
	justify-content: space-between;
	padding: 20px 35px 0 21px;
	border-radius: 10px;
	background: linear-gradient(266deg, rgba(115, 46, 133, 0.25) 0.17%, rgba(124, 153, 204, 0.25) 99.36%);
}

.news__block-part {
	width: 60%;
	margin-right: 26px;
}

.news__block-article {
	margin-bottom: 59px;
	font-family: Lato, sans-serif;
	font-style: normal;
}

.news__block-article-caption {
	color: rgba(0, 0, 0, 0.70);
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 9px;
}

.news__block-article-text {
	color: rgba(0, 0, 0, 0.70);
	font-size: 17px;
	font-weight: 400;
}

.news__block-article-text_link {
	color: #618FAB;
	font-size: 17px;
	font-weight: 400;
	line-height: 171%;
	text-decoration-line: underline;
}

.news__block-link {
	display: flex;
	margin-bottom: 31px;
}

.news__block-link-text {
	color: #1B988C;
	text-align: center;
	font-family: PT Sans, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 700;
	line-height: 95%;
	margin-right: 15px;
}

.news__block-img {
	min-width: 500px;
	min-height: 396px;
	background: url('../img/news-test.png') no-repeat;
	background-size: cover;
}